<include file="Public:header" />
<script src="__STATIC__js/bootstrap/transition.js"></script>
<script src="__STATIC__js/bootstrap/button.js"></script>
<link rel="stylesheet" href="__PUBLIC__Home/css/common/talk.css">


<!--  shuoshuo  css -->
<div class="container" id="pagewrap">
	<div class=" module-show">
				<!-- 流动公告 -->
	</div>

	<!-- 文章内容  -->
	<div class="container">
		<section class="module-left pull-left">
			<!-- 网站 说说  -->
			<div id="navbar">
		    	<ul class="breadcrumb">
				 	<li><a href="http://www.hyd.com">首页</a> <span class="divider">/</span></li>
	    		<li><a href="{:U('Talk/index')}">运动说说</a> <span class="divider">/</span></li>
    			<li class="#">发表说说<span class="label "></span></li>
				</ul>
			</div>
      <div class="module-app ">
        <div class="module-app-share">      
      <form class="form-horizontal" name="editor" id="editorTalk"  data-error="control-group" action="__URL__/uploadTalk" method="post">
         <fieldset>
          <div id="legend" class="">
            <legend>发表运动说说</legend>
          </div>
          
          <div class="control-group" >
             <label class="control-label">时间</label>
              <div class="controls">
                     <input class="input-large" type="text" name="time" id="time" />
              </div>
            </div>

        
       
          <div class="control-group">
              <!-- Text input-->
              <label class="control-label" >所在地点</label>
              <div class="controls">
                <input placeholder="省份" class="input-small" type="text" name="province" id="province" data-value="" />
                <span>-</span>
                <input placeholder="市" class="input-small" type="text" name="city" id="city" data-value="" />
                <span>-</span>
                <input placeholder="区" class="input-small" type="text" name="country" id="country" data-value="" />
               </div>
          </div>
  
            <div class="control-group ">
              <label class="control-label" >详细地址</label>
              <div class="controls">
                <input placeholder="" class="input-large" type="text" name="detailAddress" id="detailAddress" /> 
                <span class="btn"  id="searchAddress" onclick="searchAddress()">查询</span>
              </div>
          </div>
          <div class="control-group">
              <div id="sitemap"></div>
          </div>
          <div class="control-group">
              
                  <script id="editor" type="text/plain" style="width:100%;height:200px;"></script>
          </div>
          <div class="control-group">
              
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-primary"  type="submit" form="createArticle" >提交</button>
                 <a class="btn" type="reset" form="createArticle" id="reset" onclick="window.history.go(-1);">取消修改</a>
              </div>
          </div>
        
        </fieldset>

      </form>

        </div>
      </div>
      			
		</section>

<!-- 网站旁白 -->
    <aside class="module-aside pull-right">
      
    <div class="module-app share-sidenav" >
      <!--  用户头像 简介 -->
      <div class="module-app-header noborder">
        <div class="header-info">
          <div class="header-row">
            <span class="label label-info">用户名:</span>
            <span>李彦龙</span>
          </div>
          <div class="header-row">
            <span class="label label-info">粉丝:</span>
            <span>0个</span> 
          </div>

          <div class="header-row">
            <span class="label label-info">说说:</span>
            <span>15篇</span>
          </div>          
        </div>
        <div class=" thumbnail header-img">
          <img src="" class="img-circle">
        </div>
      </div>

      
      <!--  好友头像  -->
          
            <div class="module-app">
              <div class="module-app-share ">
                <h5 class="text-center">
                  <span>我关注的好友</span> 
               </h5>
                <div class="friend-list">
                  <ul class="text-center">
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                  </ul>
          
                </div>
                <div class="clearfix"></div>
                <div class="toolbar  text-center">
                    <a href="{:U('User/friends')}" class="btn btn-primary btn-small">查看更多</a>
                </div>

              </div>

            </div>

                 

    </aside>
	</div>

</div>
 <footer id="footer">
  
  		<div class="container">footer</div>
  </footer>
</body>

<!-- 加载文本编辑器 -->
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__ueditor.config.js"></script>
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__ueditor.all.min.js"></script>
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__lang/zh-cn/zh-cn.js"></script>
<script>
window.onload=function(){
      require(["ueditor/comment"],function(config){
      
        var ue = UE.getEditor('editor',config);
          
      });

}

</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vyCakEhavFN13iGT8i0NDSd3"></script>


<script type="text/javascript">
  // 百度地图API功能
  var map = new BMap.Map("sitemap");       
  map.enableScrollWheelZoom();
 // map.setCenter("武汉市");
  map.centerAndZoom(new BMap.Point(116.404, 39.915)  ,25);//若为字符串 无需 zoom

  var local = new BMap.LocalSearch(map, {
    renderOptions:{map: map}
  });
  function searchAddress(){
   var text   =   document.getElementById("detailAddress").value;
   local.search(text);
  }

  
</script>
</html>