<include file="Public:header" />
<script src="__STATIC__js/bootstrap/transition.js"></script>
<script src="__STATIC__js/bootstrap/button.js"></script>
<link rel="stylesheet" href="__PUBLIC__Home/css/common/talk.css">
<!--  shuoshuo  css -->
<div class="container" id="pagewrap">
	<div class=" module-show">
				<!-- 流动公告 -->
	</div>

	<!-- 文章内容  -->
	<div class="container">
		<section class="module-left pull-left">
			<!-- 网站 说说  -->
			<div id="navbar">
		    	<ul class="breadcrumb">
				 <li class="active">
				 	<a href="#">查看全部</a> <span class="divider">|</span></li>
				 <li><a href="#">只看好友</a> <span class="divider">|</span></li>
				 <li ><a href="#">原创</a></li>
				 <li class="pull-right">
				 	<a class="btn btn-small btn-primary publish-talk" href="{:U('Talk/createtalk')}">发表新说说</a>
				 </li>
				</ul>
			</div>
			<!-- 分类 -->			
			<div class="module-app">

			    <div class="navbar">
				    <div class="navbar-inner nopad">
					  
							<ul class="nav">
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown">选择动态<b class="caret"></b></a>		
									<ul class="dropdown-menu">
										<li><a href="#">全部动态</a></li>
										<li><a href="#">好友动态</a></li>
									</ul>
								</li>
							</ul>
							<ul class="nav pull-right">
								<li class="divider-vertical"></li>
								<li>
									<a href="#">
										<i class="icon icon-repeat"></i>
									</a>
								</li>		
							</ul>
					 
				    </div>
				</div>

				<!-- 说说列表 -->
				<ul class="talk-list">
					<li>
						<div class="talk-wrap-white">
							<div class="talk-user-pto">
								<a href="#"><img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt=""></a>
							</div>
						<div class="talk-name">
							<a href="#">liyanlong</a>
						</div>
						<div class="talk-info">
							<span>10月16日</span>
							<span class="divider">|</span>
							<span class="">浏览:</span>
							<span>2010次</span>
							<div class="pull-right talk-pos-right">
								<span class="talk-sports"><img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt=""></span>
								<span class="talk-address">北京市五环外</span>
							</div>
						</div>
						<div class="talk-contents">
							请给自己加油。希望永远是自己给的
						</div>

						</div>
						
						<div class="talk-wrap">
							<div class="talk-toobar">
								<ul>
									<li>
										<a>评论(1)</a>
										
									</li>
									<li>
										<a>赞(0)</a>
									</li>
									<li><a>加入</a></li>
								</ul>
							</div>
							<div class="comments-list">
								<ul>
										<!-- 说说评论 -->
									<li class="comments-item">
										<div class="ui-avatar"><img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt=""></div>
										<div class="comments-content">
											<a href="">李彦龙</a>
											:啊实打实大苏打	
										</div>
										<div class="comments-time">
											00:29
											<a class="comments-reply">回复</a>
										</div>
										<!-- 评论 留言 -->
										<div class="comments-list-sub">
											<ul>
												<li class="comments-item">
											<div class="ui-avatar"><img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt=""></div>
											<div class="comments-content">
												<a href="">李彦龙</a>
												<span>回复</span>
												<a href="#">李彦龙</a>
												:啊实打实大苏打	
											</div>
												<div class="comments-time">
													00:29
													<a class="comments-reply">回复</a>
												</div>
											</li>
											<li class="comments-item">
											<div class="ui-avatar"><img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt=""></div>
											<div class="comments-content">
												<a href="">李彦龙</a>
												<span>回复</span>
												<a href="#">李彦龙</a>
												:啊实打实大苏打	
											</div>
												<div class="comments-time">
													00:29
													<a class="comments-reply">回复</a>
												</div>
											</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					
					</li>
					<li>
						<div class="talk-wrap-white">
							<div class="talk-user-pto">
								<a href="#"><img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt=""></a>
							</div>
						<div class="talk-name">
							<a href="#">liyanlong</a>
						</div>
						<div class="talk-info">
							<span>10月16日</span>
							<span class="divider">|</span>
							<span class="">浏览:</span>
							<span>2010次</span>
							<div class="pull-right talk-pos-right">
								<span class="talk-sports"><img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt=""></span>
								<span class="talk-address">北京市五环外</span>
							</div>
						</div>
						<div class="talk-contents">
							请给自己加油。希望永远是自己给的
						</div>

						</div>
						
						<div class="talk-wrap">
							<div class="talk-toobar">
								<ul>
									<li>
										<a>评论(1)</a>
										
									</li>
									<li>
										<a>赞(0)</a>
									</li>
									<li><a>加入</a></li>
								</ul>
							</div>
							<div class="comments-list">
								<ul>
										<!-- 说说评论 -->
									<li class="comments-item">
										<div class="ui-avatar"><img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt=""></div>
										<div class="comments-content">
											<a href="">李彦龙</a>
											:啊实打实大苏打	
										</div>
										<div class="comments-time">
											00:29
											<a class="comments-reply">回复</a>
										</div>
										<!-- 评论 留言 -->
										<div class="comments-list-sub">
											<ul>
												<li class="comments-item">
											<div class="ui-avatar"><img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt=""></div>
											<div class="comments-content">
												<a href="">李彦龙</a>
												<span>回复</span>
												<a href="#">李彦龙</a>
												:啊实打实大苏打	
											</div>
												<div class="comments-time">
													00:29
													<a class="comments-reply">回复</a>
												</div>
											</li>
											<li class="comments-item">
											<div class="ui-avatar"><img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt=""></div>
											<div class="comments-content">
												<a href="">李彦龙</a>
												<span>回复</span>
												<a href="#">李彦龙</a>
												:啊实打实大苏打	
											</div>
												<div class="comments-time">
													00:29
													<a class="comments-reply">回复</a>
												</div>
											</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					
					</li>
				</ul>
				<div class="p-wrap"></div>
				<div class="text-center">
					<button id="fat-btn" class="btn btn-primary  js-loading-button" type="button" data-loading-text="加载中">点击加载
					</button>
				</div>
			</div>				
		</section>

		<!-- 网站旁白 -->
		<aside class="module-aside pull-right">
			
		<div class="module-app share-sidenav" >
			<!--  用户头像 简介 -->
			<div class="module-app-header noborder">
				<div class="header-info">
					<div class="header-row">
						<span class="label label-info">用户名:</span>
						<span>李彦龙</span>
					</div>
					<div class="header-row">
						<span class="label label-info">粉丝:</span>
						<span>0个</span>	
					</div>

					<div class="header-row">
						<span class="label label-info">说说:</span>
						<span>15篇</span>
					</div>					
				</div>
				<div class=" thumbnail header-img">
					<img src="" class="img-circle">
				</div>
			</div>

			
			<!--  好友头像  -->
    			
            <div class="module-app">
              <div class="module-app-share ">
                <h5 class="text-center">
	                <span>我关注的好友</span>	
               </h5>
                <div class="friend-list">
                	<ul class="text-center">
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                	</ul>
          
                </div>
                <div class="clearfix"></div>
                <div class="toolbar  text-center">
                    <a href="{:U('User/friends')}" class="btn btn-primary btn-small">查看更多</a>
                </div>

              </div>

            </div>

                 

		</aside>
	</div>

</div>
 <footer id="footer">
  
  		<div class="container">footer</div>
  </footer>
</body>


</html>