<include file="Public:header" />
<div id="pagewrap">

  <div  class="container" >
   <div class="p-wrap"></div>	
  <form class="form-horizontal" name="loginForm" id="loginForm"  data-error="control-group" action="/Passport/checkLogin" method="post">
    <fieldset>
      <div id="legend" >
        <legend>
        	用户登录
        </legend>
      </div>
   		<div class="control-group" >
          <!-- Text input-->
         <label class="control-label" >用户名</label>
          <div class="controls">
            <input placeholder="请输入用户名" class="input-xlarge" type="text" id="uid_name" name="uid_name" type="text" />
           	<p class="help-block">以字母开头,长度在6~18之间，只能包含字符、数字和下划线</p>
          </div>
        </div>

    	<div class="control-group ">

          <label class="control-label">密码</label>
          <div class="controls">
            <input placeholder="请输入你的密码" class="input-xlarge" type="password" name="passwd" id="passwd" />
            <p class="help-block">长度在6~18之间，只能包含字符、数字和下划线</p>
          </div>
        </div>
<!--     	<div class="control-group"> -->
<!--           Text input -->
<!--           <label class="control-label" >验证码</label> -->
<!--           <div class="controls"> -->
<!--             <input  class="input-small" type="text" name="confirm_code" id="confirm_code"> -->
<!--             <a href="javascript:void(0)"><img  class="confirm-img" src="../../../../Public/Home/images/get_img.jpg" alt=""></a> -->
<!--             <p class="help-block">请输入右图验证码</p> -->
<!--           </div> -->
<!--         </div> -->
   
    	<div class="control-group">
          <!-- Button -->
          <div class="controls">
         	 <button class="btn btn-primary"  type="submit" form="loginForm" >登录</button>
             <button class="btn" type="reset" form="loginForm" id="reset">重置</button>
          </div>
        </div>
		
    </fieldset>

   </form>
	
  </div>
   <div class="p-wrap"></div>
   <div class="p-wrap"></div>
   <div class="p-wrap"></div>
   <div class="p-wrap"></div>

</div>
  
<include file="Public:footer" />
</body>
<script type="text/javascript">
	window.onload = function(){
		/*
			加载 登录验证插件
		*/
		require(["jquery","validForm/login"],function($,config){	
	
			var form = {name:"loginForm"};	
		 	$("form[name="+form.name+"]").validate(config);
		
		});
	};
</script>
</html>