.module-app .module-app-categorys{background-color: #fff;padding:0px 15px;box-sizing: border-box;border: 1px solid #DDD;border-radius: 5px;}
.module-app .module-app-category{position: relative;padding:5px 5px;line-height: 20px;padding: 5px; border-bottom: 1px dashed #eee;}
.module-app .module-app-category:last-child{border-bottom: none;}
.module-app-category .category-head{position: absolute;left: 0px; top:auto;}
.module-app-category .category-head h4{font-size: 14px;color: #666;margin: 4px 15px 10px 5px;padding: 4px;}
.module-app-category .category-list{padding-left:80px;}
.module-app-category .category-list > a{font-size:13px;margin: 4px 10px 6px 5px;padding:4px;display: inline-block; cursor: pointer;}

.module-app-category .category-list > .active{}
.module-app-category .category-more{}

.label-middle{vertical-align: middle;font-size: 12px;}

/* list tabs index */
.myTab-box{text-align:center;position: relative;height: 11px;}

.myTab-box .myTab-button{top: -21px;position: absolute;margin-left: 0px;}
.tab-pane{display: none;}
*.show{display: block;}


/*list  health-list-row */
.health-list-row {margin-bottom: 15px;}
.health-list-row [class*='span']{background: #fff; }
.health-list-row img{height: 150px;}
.health-list{margin: 0px;}

/*list  sports-health-categories-list*/
#sports-categories{width:120px;font-size: 12px; line-height: 24px; height: 24px; margin-top: 5px; margin-bottom: 5px;}
