html{
	position: relative;
	height: 100%;
}
body{
height: 100%;
font-family: tahoma,"Hiragino Sans GB","microsoft yahei",sans-serif !important;
/* position */
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=##15A216,endColorStr=#fafafa); /*IE*/   
background:#fafafa;}
li{list-style-type: none;}
img{border-width:0px;border-style:none;outline: none;}
a:visited{text-decoration: none;}
a:active{text-decoration: none;}
/*
	alter bootstrap nav
*/
.navbar{height: 41px;margin-bottom:0px; }
.navbar .brand {height: 39px;padding: 5px 20px; line-height: 39px;}
.navbar  .brand  .logo{background:url('./tools/hyd_logo.png') no-repeat; display: inline-block;width:32px;height: 32px; vertical-align:middle;}
.navbar .navbar-right{float: right;}

/* set top nav inclide nav-right  */

#nav > li {line-height: 25px;font-size: 16px; min-height: 49px;}
#nav > li > a{padding-top:12px;padding-bottom: 12px; font-weight: bold; }
#nav > .active > a {display: block;overflow: hidden;}
#nav > li > a:hover,
.dropdown-list > a:hover{color:#08C;}
/*  set nav home size*/
#nav > li .icon-mid{font-size: 1.5em;}

#nav-right{ padding-top: 11px;margin: 0px;}
#nav-right > li{line-height: 24px; margin-left: 5px;}

/* reset navbar-search */

.navbar-search{margin:0px;position: relative;}

/*  .head-tool .head-tool-config  .head-tool-user .dropdown-head .dropdown-menu */
.head-tool{width: 28px;height: 28px;background-image:url('tools/index.png');  background-repeat: none;}
.head-tool-search{position: absolute;margin-right:6px;width: 28px;height: 28px; display: inline-block;right: 0px;top:0px;cursor:pointer; background-position: 6px 4px;}
.head-tool-search:hover{background-position: 6px -20px;}
.head-tool-config{background-position: 6px -146px;cursor: pointer; }
.head-tool-config:hover{background-position: 6px -170px;}
.head-tool-user{width:25px;height:25px;margin-top:3px;padding:0px !important;cursor: pointer;border:1px solid #D4D4D4; background:none;}
.head-tool-user img{width:25px;height:25px;display: block;}
.head-tool-register,
.head-tool-login{
	background-image:none;
	color:#777;
}

/* head  app icons */
.head-app-name{margin-left: 6px;}
.head-app-icon{
background: url('tools/header_app_icon.png') no-repeat;
width: 25px;
height: 25px;
display:inline-block;
vertical-align: middle;
background-position:2px 1px ;
}

.head-app-sys{
background-position: 3px -319px;
}
.head-app-sns{
background-position: 2px -79px;
}
.head-app-sport{
background-position: 2px -239px;
}

/* navigator  dropdown reset  */

.dropdown-list{float: none;padding: 10px 15px;}
.dropdown-list > a{padding-top: 12px;padding-bottom: 12px;font-weight: bold;color: #777;text-decoration: none;text-shadow: 0px 1px 0px #FFF;}

.dropdown-head .dropdown-menu{min-width: 80px !important;}
/* pagewrap main content */
#pagewrap{margin-top: 20px;min-height: 500px;}
.p-wrap{ padding:10px 0px;display:block;}
.p-wrap-mini{ padding:1px 0px;display:block;}
/* set form  help-block  confim-img */

.form-horizontal .help-block{
	margin-top: 10px;
}
.form-horizontal .confirm-img{
display: inline-block;
margin-bottom: 0px;
vertical-align: middle;
height: 30px;
border: 1px solid #CCC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

/*  breadcrumb  */
.breadcrumb{
background-color: #FFF;
border: 1px solid #e5e5e5;
}
.breadcrumb > li{}
.breadcrumb a{color:#333;} 
/* website module  presidents */
.module-show{
padding-top: 10px;
}

.module-show .thumbnail {background: #fff;position: relative;
}
.module-show  .thumbnail:hover{
text-decoration: none;
}

.module-show  .thumbnail .badge{position:absolute;right:-15px;top:-10px;}

/* module content */
.module-full{width: 100%;}
.module-left{width: 629px;}
.module-aside{width:270px;}
.module-left  .module-app-list{margin-left: -20px;}
.module-left  .module-app-list > li{margin-left: 20px;min-height: 128px;box-sizing: border-box;}
.module-left  .module-app-list > li{background-color: #fefefe;padding:11px 20px;}
.module-left  .module-app-list > li:hover{background-color: #FFF;border-color: #08C;box-shadow:0px 0px 1px #08E;transition: all 0.2s ease-in-out 0s;}

.module-left  .module-app-list > .item{border:1px solid #DDD; border-radius:5px;}

.item .media-heading a{color: #333;cursor: pointer;}
.item .media-heading a:hover{color:#B94A48;text-decoration: none;}

.item .item-nav{margin-top: 10px;width:100%;vertical-align: middle;}

.item-nav > a:hover{text-decoration: none;}
.item .item-img{width: 128px;height: 128px;}
.item .media-chart{margin-top: 10px;}
.module-app{margin-bottom: 20px;}
.module-app .pagination a{color: #333;}
.module-app .chartbox{margin:0px;padding: 0px;border:none;background: transparent;}
.module-app-rank{
border-sizing:border-box;
border: 1px solid #ddd;
border-top:none;
margin-top: -20px;
padding:15px 0px 0px 10px;
background-color: #fff;
}
.module-app-rank a{color:#333;}
.module-app-rank a:hover{text-decoration: ;color:#B94A48; }
.module-app-rank  ul { margin-left: 0px;}
.module-app-rank   ul > li{line-height: 21px;padding:6px 2px;}
.module-app-rank .rank{vertical-align: middle; width: 18px;height: 18px;padding:1px;font-size:12px;line-height:18px;text-align:center;border-radius: 50%;display: inline-block;background-color: #999;color: #FFF;}
.module-app-rank .rank-top{background-color: #C33;}
.module-app-rank .rank-middle{background-color:#39C;}
.module-app-rank .rank-third{background-color:#693;}

.module-app-share {position:relative;background: #ffffff; border: 1px solid #ddd;border-radius: 4px;box-sizing: border-box;padding: 4px 12px;overflow: hidden;}
.module-app-share .form-horizontal .control-label {text-align: right;width:100px;}
.module-app-share .form-horizontal .controls {margin-left: 120px;}
.module-app-share  .tags .label{position: relative;padding: 5px 10px;font-size: 14px;margin-right: 10px;}
.module-app-share  .tags .tag-close{opacity:0.8;position: absolute;right: -6px; top:-6px; width: 16px;height: 16px;display: block;background: url('tools/closed.png') no-repeat;cursor: pointer;}
.module-app-share  .tags .tag-close:hover{opacity: 1;}
.module-app-share  .textarea{width: 90%;height: 100px;resize:none;}
.module-app-share  .upload{position: absolute;right:20px;top:65px;width: 128px;overflow: hidden;}
.module-app-share  .upload-img{width: 128px;height: 128px;}
.module-app-share  .upload-info{width:100%;padding: 5px 10px; box-sizing: border-box;}

.module-app-share  .upload-click{position: absolute;left: 0px;bottom: 0px;width:100%;background: #FF0000; opacity: 0.8;}
/* footer bar #fotter #footer  */
#footer{
padding-top: 20px;
/* size width height */
width: 100%;
min-height: 35px;

/* background color */
color:#333;
text-align: center;
}

/* tools */
.clearfix-double{margin: 15px 0px;}
.label-middle {vertical-align: middle;}
.nobg{background-color: transparent;}
.noborder{border:0px;}
/* usually icon */
.myicon{
width: 24px;
height: 24px;
margin-top: 1px;
line-height: 24px;
vertical-align: text-top;
display: inline-block;
background-repeat: no-repeat;
cursor: pointer;
}

.myicon-star-empty{
background-image: url('./tools/icons/star-empty.png');
}
.myicon-star-full{
background-image: url('./tools/icons/star-full.png');
}