.share-sidenav{top:61px;}
.share-sidenav ul{width: 270px;box-sizing: border-box;border: 1px solid #DDD;border-radius: 4px;background-color: #fff;}
.share-sidenav  li > a{padding: 8px 10px;}

.module-app-header{height:120px;position: relative;}
.module-app-header .header-img{position:absolute;top:0px;right:0px;width: 98px;height: 98px;float: right; right: 0px;}
.module-app-header .header-img > img{width: 100%;height: 100%;}
.module-app-header .header-row{padding: 6px 10px;}

.controls .control-span{padding: 5px;}
.controls .text-show{border-radius: 5px;}
/* User  favor  */
.favor-controls{margin-top: 5px;}
.favor-chart-box{padding:5px;height: 378px;overflow: hidden;}
.favor-chart{height: 378px;}

/* User friends */
.friend-list {overflow: hidden;padding: 10px 5px;}
.friend-list .thumbnail{width: 98px; float: left;cursor:pointer;margin-bottom:15px;margin-right: 15px;position: relative;}
.friend-list .thumbnail .friend-tooltip{position: absolute;box-sizing:border-box;width:100%;bottom: 0px;left: 5px; z-index: 2;padding: 5px 0px; }

.friend-list img{width:98px;height: 98px;}

/* User  article */
.module-app .module-app-share .page-header{margin:10px 0px;}
.module-app .module-app-share .module-app-categorys{border:0px;}

