<include file="Public:header" />
<div id="pagewrap">

  <div  class="container" >
  	
  <form class="form-horizontal" name="registerForm" id="registerForm"  action="xxx" method="post" data-error="control-group">
    <fieldset>
      <div id="legend" class="">
        <legend class="">
        	用户注册
        </legend>
      </div>
   		<div class="control-group" >

          <!-- Text input-->
         <label class="control-label" >用户名</label>
          <div class="controls">
            <input placeholder="请输入用户名" class="input-xlarge" type="text" id="uid_name" name="uid_name" type="text" />
           	<p class="help-block">以字母开头,长度在6~18之间，只能包含字符、数字和下划线</p>
          </div>
        </div>


    	<div class="control-group ">

          <!-- Text input-->
          <label class="control-label" >密码</label>
          <div class="controls">
            <input placeholder="请输入你的密码" class="input-xlarge" type="password" name="passwd" id="password" />
            <p class="help-block">长度在6~18之间，只能包含字符、数字和下划线</p>
          </div>
        </div>
    	<div class="control-group">
          <!-- Text input-->
          <label class="control-label" >确认密码</label>
          <div class="controls">
            <input placeholder="请再次输入您的密码" class="input-xlarge" type="password" name="confirm_password">
            <p class="help-block">与输入密码一致</p>
          </div>
        </div>
    <div class="control-group">
	    <label class="control-label" for="inputEmail">邮箱地址</label>
	    <div class="controls">
	    <div class="input-prepend">
	    	<span class="add-on"><i class="icon-envelope"></i></span>
	   	</div>
	    	<input class="span3" id="inputEmail" placeholder="example@xxx.com" type="email" name="email" />
	     	<p class="help-block"></p>
	    </div>
    </div>

    	<div class="control-group">
    		<div class="controls">
				<label class="checkbox inline-block">
				我已阅读相关信息
				<input type="checkbox"  name="contact" checked="checked" value="ok">
				</label>

			</div>
		</div>
    	<div class="control-group">
          
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-primary" type="submit" form="registerForm" id="register" >开始注册</button>
             <button class="btn" type="reset" form="registerForm" id="reset">重置</button>
          </div>
        </div>
		
    </fieldset>

   </form>
	
  </div>

 
</div>
 <footer id="footer">
  		<div class="container">footer</div>
  </footer>
</body>
<script type="text/javascript">
window.onload = function(){
		/*
			加载 注册插件
		*/
	
	require(["jquery","validForm/register"],function($,register){

		var formName = "registerForm";
		var action   = "checkUserName";
		$("#"+formName).attr("action",action);
		var v = $("form[name="+formName+"]").validate({resiger});
		
		$("#register").bind("click",function(){
				if(v.valid()){
					v.submit();
				}
		});
	});

};

</script>
</html>