<include file="Public:header" title="更新个人资料" />
<!-- 个人空间 -->

<link rel="stylesheet" href="__PUBLIC__Home/css/common/list.css">
<div class="container" id="pagewrap">
	<div class="module-show">
		
	</div>

	<!-- 编辑内容-->
	<div class="container">
		<div class="row">	
		<section class="module-left pull-left span9">
			<ul class="breadcrumb">
    			<li><a href="http://www.hyd.com">首页</a> <span class="divider">/</span></li>
	    		<li><a href="/User/index">个人社区</a> <span class="divider">/</span></li>
    			<li class="#">分享文章<span class="label"></span></li>
    		</ul>
				
			<!--  内容选项卡 -->

			<div class="module-app ">
				<div class="module-app-share nobg noborder">			
					<h4 class="page-header">我的分享文章
							<div class="pull-right">
								<a class="btn btn-small">升序</a>
								<a class="btn btn-small" href="#">降序</a>
							</div>
					</h4>
				<!-- <div class="module-app-categorys"  id="categorys">
					<div class="module-app-category">
					<div class="category-head"><h4>运动分类</h4></div>
					<div class="category-list" >
						<a class="active label label-info">室内运动</a><a href="#">户外运动</a>
					</div>		
					</div>
					<div class="module-app-category">
					<div class="category-head"><h4>室内运动</h4></div>
					<div class="category-list" >
						<a  class="active" href="#">户外攀岩</a>
						<a href="#">户外运动</a>
						<a  class="active" href="#">户外攀岩</a>
						<a href="#">户外运动</a>
						<a  class="active" href="#">户外攀岩</a>
						<a href="#">户外运动</a>
							<a  class="active" href="#">户外攀岩</a>
						<a href="#">其他</a>
					</div>
					</div>
					<div class="module-app-category " data-tabs="tab-pane" >
					<div class="category-head"><h4>运动目的</h4></div>
					<div class="category-list" >
						<a  class="active" href="#">不限</a>
						<a href="#">健身</a>
					</div>
					</div>
					<div class="module-app-category " data-tabs="tab-pane" >
					<div class="category-head"><h4>针对人群</h4></div>
					<div class="category-list" >
						<a  class="active" href="#">老年人</a>
						<a href="#">中年人</a>
					</div>
					</div>
					<div class="module-app-category">
					<div class="category-head"><h4>筛选条件</h4></div>
					<div class="category-list" >
						<a  class="active  label label-info" href="#">最新</a>
						<a href="#">最热</a>
					</div>
				    </div>
					</div>
				
						    	</div> 
					-->
				<ul class="media-list module-app-list">
					<volist name="list" id="vo">
					<li class="media item"> 
						<a class="pull-left thumbnail" href="#">
						<img  class="media-object item-img img-rounded" alt="128x128" data-src="" src="{$vo.ref_image}">
						</a>
						<div class="media-body">
							<h4 class="media-heading page-header">
								<a href="{:U('Info/index')}?id={$vo.article_id}">
								{$vo.title}</a>
							</h4>
							<div class="item-nav">
								<a href="#">
									<span class="label label-info">{$vo.uid_name}	
									</span>
								</a>
								<span class="label-time">
									{$vo.publish_time}
								</span>
								<div class="pull-right">
									<span class="label ">已阅读:200</span>		
									<span class="label-middle"><i class=" icon icon-thumbs-up"></i>
											<span>8</span>
									</span>
								</div>
							</div>
								<div class="media">
									{$vo.contents|cutStr=###,100}
								</div>
						</div>
					</li>
					</volist>
				</ul>
				<div class="pagination">
				    <ul class="pull-right">
				   {$page}
				    </ul>
  				</div>
			</div>
			

		</section>
	
			<!-- 网站旁白 -->
		<include file="Public:right_user"/>
	    </div>
	</div>  <!-- row end  -->
</div> 

<include file="Public:footer" />
</body>

<!-- 显示隐藏 列表插件 -->
<script type="text/javascript" src="__PUBLIC__HOME/js/app/user/myTab.js"></script>
<script type="text/javascript">
	$(function(){
		// 执行 插件
		$("#categorys").myTab();
	});
</script>
</html>
