<include file="Public:header" title="更新个人资料" />
<!-- 个人空间 -->
<link rel="stylesheet" href="__PUBLIC__Home/css/common/user.css">
<link rel="stylesheet" href="__PUBLIC__Home/css/common/list.css">
<div class="container" id="pagewrap">
	<div class="module-show">
	
	</div>

	<!-- 编辑内容-->
	<div class="container">
		<div class="row">	
		<section class="module-left pull-left span9">
			<ul class="breadcrumb">
    			<li><a href="http://www.hyd.com">首页</a> <span class="divider">/</span></li>
	    		<li><a href="/User/index">个人社区</a> <span class="divider">/</span></li>
    			<li class="#">文章收藏<span class="label"></span></li>
    		</ul>
				
			<!--  内容选项卡 -->

			<div class="module-app ">
				<div class="module-app-share nobg noborder">			
					<h4 class="page-header">文章收藏
							<div class="pull-right">
								<a class="btn btn-small">升序</a>
								<a class="btn btn-small" href="#">降序</a>
							</div>
					</h4>

				<ul class="media-list module-app-list">
					<li class="media item"> 
					<a class="pull-left thumbnail" href="#">
					<img  class="media-object item-img img-rounded" alt="128x128" data-src="" src="http://img1.cache.netease.com/catchpic/4/40/4040B55FC99377F96DACE2B94EDE6057.jpg">
					</a>
					<div class="media-body">
						<h4 class="media-heading page-header">
							<a href='/Info/index/id/1.html'>
								李克强给安徽金寨县希望小学师生回信
							</a>
							<div class="pull-right">
								<span class="label-middle">20</span>&nbsp;<i class="myicon myicon-star-full"></i>
							</div>
						</h4>
						<div class="item-nav">
							<a href="#">
								<span class="label label-info">liyanlong	
								</span>
							</a>
							<span class="label-time">
								2014-10-31 17:15:02							</span>
							<div class="pull-right">
								<span class="label ">已阅读:200</span>		
								<span class="label-middle"><i class=" icon icon-thumbs-up"></i>
										<span>8</span>
								</span>
							</div>
						</div>
							<div class="media">
								一段往事

李克强为金寨希望小学选址

“25年了，总理没有忘记我们，总理和咱山里娃娃心连心”。金寨县希望小学校长陈德武激动地说，金寨希望小学是全国第一所希望小学，当年，时任团中央书记处书记的李克强同...							</div>
					</div>
				</li>			
				</ul>
				<div class="text-center">
						<div class="btn">查看更多</div>
				</div>
			
			</div>
			

		</section>
	
			<!-- 网站旁白 -->
		<include file="Public:right_user"/>
	    </div>
	</div>  <!-- row end  -->
</div>

<include file="Public:footer" /> 
</body>


</html>
