<include file="Public:header" title="更新个人资料" />

<link rel="stylesheet" type="text/css" href="__STATIC__css/bootstrap-datetimepicker.css">

<!-- 个人空间 -->
<link rel="stylesheet" href="__PUBLIC__Home/css/common/user.css">
<div class="container" id="pagewrap">
	<div class="module-show">
		
	</div>

	<!-- 编辑内容-->
	<div class="container">
		<div class="row">	
		<section class="module-left pull-left span9">
			<ul class="breadcrumb">
    			<li><a href="http://www.hyd.com">首页</a> <span class="divider">/</span></li>
	    		<li><a href="{:U('List/index')}">个人社区</a> <span class="divider">/</span></li>
    			<li class="#">个人资料<span class="label "></span></li>
    		</ul>
			<!--  内容选项卡 -->
			<div  class="module-app" id="myTab">
				<div class="btn-group">
    				<a class="btn"   href="/User/index.html">返回</a>    			
    			</div>
    			<div class="btn-group">
    				<a class="btn"  href="#">修改资料</a>
    			</div>
			</div>
			<div class="module-app ">
				<div class="module-app-share">			
			<form class="form-horizontal" name="editor" id="editorUser"  data-error="control-group" action="{:U('User/saveInfo')}" method="post">
		   	 <fieldset>
		      <div id="legend" class="">
		        <legend>基本资料</legend>
		      </div>
					
		   		<div class="control-group" >
		         <label class="control-label">登录名</label>
		          <div class="controls">
		                 <input class="input-large" type="text" name="uid_name" id="uid_name" value="{$user.uid_name}" disabled data-date-format="yy-mm-dd"  />
		          </div>
		        </div>

		    	<div class="control-group ">
		          <label class="control-label" >生日</label>
		          <div class="controls">
		            <input placeholder="请填写生日" class="input-large" type="text" name="birthday" id="birthday" value="{$user.birthday}"/>
		            
		            <p class="help-block">格式:2014-01-01</p>

		          </div>
		          
		        </div>
				
				<div class="control-group ">
		          <label class="control-label" >性别</label>
		          <div class="controls">
		          	<!-- 二级联动 -->
					<label class="radio inline">保密
					<input type="radio" name="sex" id="sex1" value="0" <if condition="$user.sex eq 0">checked="checked"</if>>
					</label>
					<label class="radio inline">男
					<input type="radio" name="sex" id="sex2" value="1" <if condition="$user.sex eq 1">checked="checked"</if>>
					</label>
					<label class="radio inline">女
					<input type="radio" name="sex" id="sex3" value="2" <if condition="$user.sex eq 2">checked="checked"</if>>
					</label>           
		          </div>
		        </div>

		    	<div class="control-group">
		          <!-- Text input-->
		          <label class="control-label" >所在地址</label>
		          <div class="controls">
		            <select class="input-small" type="text" name="province" id="province" data-value="{$user.province}">
		            </select>
		           	<span>-</span>
		           	<select class="input-small" type="text" name="city" id="city" data-value="{$user.city}"></select>
		           	<span>-</span>
		           	<select  class="input-small" type="text" name="county" id="county" data-value="{$user.county}" ></select>
		           </div>
		        </div>

		        <div class="control-group">
				  <label class="control-label" >个人简介</label>
		          <div class="controls">
		       		 <textarea rows="3" class="textarea" name="ref_contents">{$user.description}</textarea>   
		       	  </div>
		        </div>
			 <div id="legend" class="">
		        <legend>运动偏好</legend>
		      </div>
			 <div class="control-group checkbox-control-group">
			 	 <label class="control-label" >室外运动</label>
	    		<div class="controls">
					<label class="checkbox inline">
					<input type="checkbox"  name="outdoorSports"  value="2">	户外攀岩
					</label>
					<label class="checkbox inline">
					<input type="checkbox"  name="outdoorSports"  value="3">城市骑行
					</label>
				</div>
			 </div>
			 <div class="control-group checkbox-control-group">
			 	<label class="control-label" >室内运动</label>
	    		<div class="controls">
					<label class="checkbox inline">
					<input type="checkbox"  name="indoorSports"  value="2" />室内舞蹈
					</label>
					<label class="checkbox inline">
					<input type="checkbox"  name="indoorSports"  value="3" />
					瑜伽
					</label>
				</div>
			 </div>
			 <div class="control-group checkbox-control-group">
			 	<label class="control-label" >运动人群</label>
	    		<div class="controls">
					<label class="checkbox inline">			
					<input type="checkbox"  name="indoorSports"  value="2">	老年人
					</label>
					<label class="checkbox inline">
					<input type="checkbox"  name="indoorSports"  value="3">	青年人
					</label>
				</div>
			 </div>
			 <div class="control-group checkbox-control-group">
			 	<label class="control-label">运动目的</label>
	    		<div class="controls">
					<label class="checkbox inline" > 
					<input type="checkbox"  name="indoorSports"  value="2">
					减肥
					</label>
					<label class="checkbox inline">
					<input type="checkbox"  name="indoorSports"  value="3" />
					健身
					</label>
				</div>
			 </div>
		    	<div class="control-group">
		          
		          <!-- Button -->
		          <div class="controls">
		            <button class="btn btn-primary"  type="submit" id="saveUserInfo" >提交</button>
		             <a class="btn" type="reset" form="createArticle" id="reset" onclick="window.history.go(-1);">取消修改</a>
		          </div>
		        </div>
				<div class="upload">
					<div class=" thumbnail " href="#">
						<div class="upload-img" id="uploadImg"><img class="croppedImg" src="{$user['head_url']}"></div>
						<input type="hidden"  id="ref_image" name="ref_image" value="{$user['head_url']}" />
					</div>
					<span class="label label-success upload-info" >请上传图片</span>
				</div>
		    </fieldset>

   		</form>

				</div>
			</div>
			

		</section>
	
			<!-- 网站旁白 -->
		<include file="Public:right_user"/>
	    </div>
	</div>  <!-- row end  -->
</div> 

<include file="Public:footer" />
</body>


<!-- 图片上传  -->
<link href="__STATIC__css/croppic.css" rel="stylesheet" />


<script src="__STATIC__js/croppic.js"></script>
<script type="text/javascript" >
$(function(){

	//  croppic 容器 模型 配置文件
	var croppicContainerModalOptions = {
				uploadUrl:'/User/uploadImage',
				cropUrl:'/User/uploadCroppicImage',
				modal:true,
				imgEyecandyOpacity:0.4,
				loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
				uploadData:{
					"action":"userHead",
				},
				cropData:{
					"action":"userHead",
				},
				onAfterImgCrop:function(){
					//上传成功后
					$(".upload .upload-info").hide();	 
					$("#ref_image").val($('#uploadImg img:first').attr("src")); 
				}
		}
	// 新建 上传对象
	var cropContainerModal = new Croppic('uploadImg', croppicContainerModalOptions);

});

window.onload=function(){
     // 加载 地址插件
     requirejs(["jquery","jsAddress"],function($){
     	
     	 addressInit('province', 'city', 'county',$("#province").data("value"),$("#city").data("value"),$("#county").data("value"));
     });
	 // 加载 日期时间插件
     requirejs(["jquery","STATIC_BOOTSTRAP/datetimepicker"],function($){

      	requirejs(["STATIC_BOOTSTRAP/locales/datetimepicker.zh-CN"],function(){  		//加载中文包
				$('#birthday').datetimepicker({	
   					 format: 'yyyy-mm-dd',
   					 language: "zh-CN",
			         todayBtn:  1,        //当天快捷按钮
					 autoclose: 1,		  //自动关闭    
					 todayHighlight: 1,  // 当天高亮
					 startView: 2,   	//  in 1 hour :0 , in 1 days :1,in 1 mounth :2  
					 minView: 2,		 //  start width  1 mounths 
					 forceParse: 1,
  				  });
      		});
      		
      });


}

</script>


</html>
