<include file="Public:header" title="更新个人资料" />
<!-- 个人空间 -->
<link rel="stylesheet" href="__PUBLIC__Home/css/common/user.css">
<div class="container" id="pagewrap">
	<div class="module-show">
	
	</div>

	<!-- 编辑内容-->
	<div class="container">
		<div class="row">	
		<section class="module-left pull-left span9">
			<ul class="breadcrumb">
    			<li><a href="http://www.hyd.com">首页</a> <span class="divider">/</span></li>
	    		<li><a href="/User/index">个人社区</a> <span class="divider">/</span></li>
    			<li class="#">好友关注<span class="label "></span></li>
    		</ul>
			<div class="p-wrap-mini"></div>
			<!--  内容选项卡 -->
			<div  class="module-app" id="myTab">
				<div class="btn-toolbar">
    				<a class="btn"  data-toggle="tab"    href="#friend">关注</a>
    				<a class="btn"  data-toggle="tab"    href="#search">搜索好友</a>
  		  		</div>
			</div>
			<div class="tab-content">
				
			
				<div class="module-app   tab-pane active"  id="friend">
				<div class="module-app-share">			
						<div class="friend-list">
							<a  class="thumbnail" >
								<img src="" alt="">
								<div class="friend-tooltip">
									<span class="label">李彦龙</span>
								</div>						
							</a>
							<a  class="thumbnail" >
								<img src="" alt="">
							</a>
							<a  class="thumbnail" >
								<img src="" alt="">
							</a>
						</div>		

				</div>
				<div class="pagination">
					    <ul class="pull-right">
					    <li ><a href="#">上一页</a></li>
					    <li class="active"><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li><a href="#">下一页</a></li>
					    </ul>
	   			</div>
				</div>
				
				<div class="tab-pane" id="search">
					 <div class="search-box">
					 	 <form class="form-search">
  						  <input type="text" class="input-medium search-query">
  						  <button type="submit" class="btn">Search</button>
  					 	 </form>
					 </div>
					<div class="alert alert-info">
				    搜索结果如下
				    </div>
					 <div class="friend-list">
							<a  class="thumbnail" >
								<img src="" alt="">
								<div class="friend-tooltip">
									<span class="label">李彦龙</span>
								</div>						
							</a>
							<a  class="thumbnail" >
								<img src="" alt="">
							</a>
							<a  class="thumbnail" >
								<img src="" alt="">
							</a>
						</div>		


				</div>
			
			</div>

		</section>
	
			<!-- 网站旁白 -->
		<aside class="module-aside pull-right span3">
			<div class="module-app share-sidenav" data-spy="affix" data-offset-top="50">
			<!--  用户头像 简介 -->
			<div class="module-app-header">
				<div class="header-info">
					<div class="header-row">
						<span class="label label-info">用户名:</span>
						<span>李彦龙</span>
					</div>
					<div class="header-row">
						<span class="label label-info">粉丝:</span>
						<span>0</span>
					</div>

					<div class="header-row">
						<button class="btn btn-warning">退出登录</button>
						
					</div>					
				</div>
				<div class=" thumbnail header-img">
					<img src="" class="img-circle">
				</div>
			</div>
			<ul class="nav nav-list">
				    <li>
				    	<a href="/User/index">
							<i class="icon-chevron-left"></i>
				    		个人资料
				    		<i class="icon-user"></i>
				    	</a>
				    </li>
				    <li class="active"><a href="/User/friends">
						<i class="icon-chevron-left "></i>
				    	关注好友</a>
				    </li>
				     <li class="divider"></li>
				    <li>
				    	<a href="/User/article">
				    	<i class="icon-chevron-left"></i>
				    	分享文章</a>
				    </li>
				    <li>
				    	<a href="/User/collection">
				    	<i class="icon-chevron-left"></i>
				    	文章收藏</a>
				    </li>
				     <li>
				    	<a href="/User/chart">
				    	<i class="icon-chevron-left"></i>
				    	文章留言</a>
				    </li>
				     <li class="divider"></li>
				    <li>
				    	<a href="/User/talk">
				    	<i class="icon-chevron-left"></i>
				    	运动说说</a>
				    </li>
				    <li>
				    	<a href="/User/plan">
				    	<i class="icon-chevron-left"></i>
				    	运动计划</a>
				    </li>
    		</ul>
    		
			</div>
		</aside>
	    </div>
	</div>  <!-- row end  -->
</div> 

<include file="Public:footer" />
</body>


</html>
