<include file="Public:header" />

<!-- 个人空间 -->
<link rel="stylesheet" href="__PUBLIC__Home/css/common/user.css">
<div class="container" id="pagewrap">
	<div class="module-show">
	
	</div>
	<!-- 文章内容  -->
	<div class="container">
		<div class="row">
	
		<section class="module-left pull-left span9">
			<ul class="breadcrumb">
    			<li><a href="/">首页</a> <span class="divider">/</span></li>
	    		<li><a href="/User/index">个人社区</a> <span class="divider">/</span></li>
    			<li class="#">个人资料<span class="label "></span></li>
    		</ul>
				
				<!--  内容选项卡 -->
			<div  class="module-app" id="myTab">
				<div class="btn-toolbar">
				<div class="btn-group">
    				<a class="btn " data-toggle="tab"  href="#basic">基本资料</a>
    				<a class="btn"     data-toggle="tab" href="#favor">运动偏好</a>
    			</div>
    				<a class="btn"  href="/User/editor">修改资料</a>
  		  		</div>
			</div>
			<div class="tab-content">
				<div class="module-app tab-pane active" id="basic">
					<div class="module-app-share">
					<div class="form-horizontal">
					   	 <fieldset>
					      <div id="legend" class="">
					        <legend class="">基本资料</legend>
					      </div>
								
					   		<div class="control-group" >
					         <label class="control-label" >用户名</label>
					          <div class="controls" >
					             <span class="control-span">{$user['uid_name']}</span>
					          </div>
					        </div>

					    	<div class="control-group ">
					          <label class="control-label" >邮箱地址</label>
					          <div class="controls">
					         	 <span class="control-span">{$user['email']}</span>
					          </div>
					        </div>
							
							<div class="control-group ">
					          <label class="control-label">性别</label>
					          <div class="controls">
			 					<span class="control-span">
			 					<if condition="$user['sex'] eq 1">男
			 					<elseif condition="$user['sex'] eq 2"/>女
			 					<else/>保密
			 					</if>
			 					</span>
					          </div>
					        </div>

					    	<div class="control-group">
					         
					          <label class="control-label" >出生日期</label>
					          <div class="controls">
					          	<span class="control-span">{$user['birthday']}</span>   
					          </div>
					        </div>
							<div class="control-group">
							  <label class="control-label" >所在地址</label>
					          <div class="controls">
									<span class="control-span">湖北省</span>
									<span class="control-span">武汉市</span> 
									<span class="control-span">武昌区</span> 
					          </div>
					        </div>
					        <div class="control-group">
							  <label class="control-label" >个人简介</label>
					          <div class="controls">
					       		 <div  class="textarea text-show">{$user['description']}</div>
					          </div>
					        </div>

					    	
							<div class="upload">
								<div class=" thumbnail " href="#">
									<div class="upload-img" id="uploadImg"></div>
									<input type="text" style="display:none;" id="ref_image" name="ref_image">
								</div>
								<span class="label label-success upload-info" >用户头像</span>
							</div>
					    </fieldset>
			   		</div>
					</div>
				</div>
				<div class="module-app tab-pane " id="favor">
					<div class="module-app-share">
					<div class="form-horizontal">
					   	 <fieldset>
					      <div id="legend" class="">
					        <legend class="">运动偏好</legend>
					      </div>
								
					   		<div class="control-group" >
					         <label class="control-label" >室内运动</label>
					        
					            
					           <div class="controls favor-controls" >
									 <span class="label label-info control-span">瑜伽</span>
					           </div>
					        </div>

					    	<div class="control-group ">
					          <label class="control-label " >户外运动</label>
					          <div class="controls favor-controls">
					         	 <span class="control-span control">攀岩</span>
					          </div>
					        </div>
							
							<div class="control-group ">
					          <label class="control-label">运动人群</label>
					          <div class="controls favor-controls">
			 					<span class="control-span control">老年人</span>
					          </div>
					        </div>

					    	<div class="control-group">
					         
					          <label class="control-label" >运动目的</label>
					          <div class="controls favor-controls">
					          	<span class="control-span">减肥</span>   
					          </div>
					        </div>
			    	
						
					    </fieldset>
			   		</div>
					</div>
				</div>
			</div>
			

		</section>
	
			<!-- 网站旁白 -->
		<aside class="module-aside pull-right span3">
			<div class="module-app share-sidenav" data-spy="affix" data-offset-top="50">
			<!--  用户头像 简介 -->
			<div class="module-app-header">
				<div class="header-info">
					<div class="header-row">
						<span class="label label-info">用户名:</span>
						<span>李彦龙</span>
					</div>
					<div class="header-row">
						<span class="label label-info">粉丝:</span>
						<span>0</span>
					</div>

					<div class="header-row">
						<button class="btn btn-warning">退出登录</button>
						
					</div>					
				</div>
				<div class=" thumbnail header-img">
					<img src="" class="img-circle">
				</div>
			</div>
			<ul class="nav nav-list">
				    <li class="active">
				    	<a href="/User/index">
							<i class="icon-chevron-left"></i>
				    		个人资料
				    		<i class="icon-user"></i>
				    	</a>
				    </li>
				    <li><a href="/User/friends">
						<i class="icon-chevron-left"></i>
				    	关注好友</a>
				    </li>
				     <li class="divider"></li>
				    <li>
				    	<a href="/User/article">
				    	<i class="icon-chevron-left"></i>
				    	分享文章</a>
				    </li>
				    <li>
				    	<a href="/User/collection">
				    	<i class="icon-chevron-left"></i>
				    	文章收藏</a>
				    </li>
				     <li>
				    	<a href="/User/chart">
				    	<i class="icon-chevron-left"></i>
				    	文章留言</a>
				    </li>
				     <li class="divider"></li>
				    <li>
				    	<a href="/User/talk">
				    	<i class="icon-chevron-left"></i>
				    	运动说说</a>
				    </li>
				    <li>
				    	<a href="/User/plan">
				    	<i class="icon-chevron-left"></i>
				    	运动计划</a>
				    </li>
    		</ul>
    		
			</div>
		</aside>
	    </div>
	</div>

</div>
  
<include file="Public:footer" />
</body>



</html>
