<include file="Public:header" />

<!-- 个人空间 -->
<link rel="stylesheet" href="__PUBLIC__HOME/css/common/user.css">
<div class="container" id="pagewrap">
	<div class="module-show">
			<!-- 功能模块 展示 -->
			<ul class="row">

              <li class="span3">
                <a href="#" class="thumbnail">
                  <span class="head-app-icon head-app-sys"></span>
                  <span class="head-app-name">网站公告</span>
                   <span class="badge badge-important ">100</span>
                </a>

              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <span class="head-app-icon head-app-sport"></span>
                  <span class="head-app-name">运动健康分享</span>
                   <span class="badge badge-important ">100</span>
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <span class="head-app-icon head-app-share"></span>
                  <span class="head-app-name">专家指导</span>
                   <span class="badge badge-important ">100</span>
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <span class="head-app-icon head-app-sns"></span>
                  <span class="head-app-name">个人社区</span>
                   <span class="badge badge-important ">100</span>
                </a>
              </li>
            </ul>
	</div>

	
	
	<!-- 文章内容  -->
	<div class="container">
		<div class="row">
	
		<section class="module-left pull-left span9">

			
			<ul class="breadcrumb">
    			<li><a href="http://www.hyd.com">首页</a> <span class="divider">/</span></li>
	    		<li><a href="/share">个人社区</a> <span class="divider">/</span></li>
    			<li class="#">个人资料<span class="label "></span></li>
    		</ul>
				
				<!--  内容选项卡 -->
			<div  class="module-app" id="myTab">
				<div class="btn-toolbar">
				<div class="btn-group">
    				<a class="btn " data-toggle="tab"  href="#basic">基本资料</a>
    				<a class="btn"     data-toggle="tab" href="#favor">运动偏好</a>
    			</div>
    				<a class="btn"  href="/User/editor">修改资料</a>
  		  		</div>
			</div>
			<div class="tab-content">
				<div class="module-app tab-pane active" id="basic">
					<div class="module-app-share">
					<div class="form-horizontal">
					   	 <fieldset>
					      <div id="legend" class="">
					        <legend class="">基本资料</legend>
					      </div>
								
					   		<div class="control-group" >
					         <label class="control-label" >用户名</label>
					          <div class="controls" >
					             <span class="control-span">liyanlong1993</span>
					          </div>
					        </div>

					    	<div class="control-group ">
					          <label class="control-label" >邮箱地址</label>
					          <div class="controls">
					         	 <span class="control-span">295697141@qq.com</span>
					          </div>
					        </div>
							
							<div class="control-group ">
					          <label class="control-label">性别</label>
					          <div class="controls">
			 					<span class="control-span">保密</span>
					          </div>
					        </div>

					    	<div class="control-group">
					         
					          <label class="control-label" >出生日期</label>
					          <div class="controls">
					          	<span class="control-span">1993-11-29</span>   
					          </div>
					        </div>
							<div class="control-group">
							  <label class="control-label" >所在地址</label>
					          <div class="controls">
									<span class="control-span">湖北省</span>
									<span class="control-span">武汉市</span> 
									<span class="control-span">武昌区</span> 
					          </div>
					        </div>
					        <div class="control-group">
							  <label class="control-label" >个人简介</label>
					          <div class="controls">
					       		 <div  class="textarea text-show"></div>
					          </div>
					        </div>

					    	
							<div class="upload">
								<div class=" thumbnail " href="#">
									<div class="upload-img" id="uploadImg"></div>
									<input type="text" style="display:none;" id="ref_image" name="ref_image">
								</div>
								<span class="label label-success upload-info" >用户头像</span>
							</div>
					    </fieldset>
			   		</div>
					</div>
				</div>
				<div class="module-app tab-pane " id="favor">
					<div class="module-app-share">
					<div class="form-horizontal">
					   	 <fieldset>
					      <div id="legend" class="">
					        <legend class="">运动偏好</legend>
					      </div>
								
					   		<div class="control-group" >
					         <label class="control-label" >室内运动</label>
					        
					            
					           <div class="controls favor-controls" >
									 <span class="label label-info control-span">瑜伽</span>
					           </div>
					        </div>

					    	<div class="control-group ">
					          <label class="control-label " >户外运动</label>
					          <div class="controls favor-controls">
					         	 <span class="control-span control">攀岩</span>
					          </div>
					        </div>
							
							<div class="control-group ">
					          <label class="control-label">运动人群</label>
					          <div class="controls favor-controls">
			 					<span class="control-span control">老年人</span>
					          </div>
					        </div>

					    	<div class="control-group">
					         
					          <label class="control-label" >运动目的</label>
					          <div class="controls favor-controls">
					          	<span class="control-span">减肥</span>   
					          </div>
					        </div>
			    	
							<div class="favor-chart-box">
								<div class="thumbnail">
									<div  class="favor-chart" id="favor-chart" style="width:593px;height:378px;"></div>
								</div>
								<span class="label label-success" >能力偏好</span>
							</div>
					    </fieldset>
			   		</div>
					</div>
				</div>
			</div>
			

		</section>
	
			<!-- 网站旁白 -->
		<aside class="module-aside pull-right span3">
			<div class="module-app share-sidenav" data-spy="affix" data-offset-top="50">
			<!--  用户头像 简介 -->
			<div class="module-app-header">
				<div class="header-info">
					<div class="header-row">
						<span class="label label-info">用户名:</span>
						<span>李彦龙</span>
					</div>
					<div class="header-row">
						<span class="label label-info">粉丝:</span>
						<span>0</span>
					</div>

					<div class="header-row">
						<button class="btn btn-warning">退出登录</button>
						
					</div>					
				</div>
				<div class=" thumbnail header-img">
					<img src="" class="img-circle">
				</div>
			</div>
			<ul class="nav nav-list">
				    <li class="active">
				    	<a href="/User/index">
							<i class="icon-chevron-left"></i>
				    		个人资料
				    		<i class="icon-user"></i>
				    	</a>
				    </li>
				    <li><a href="/User/friends">
						<i class="icon-chevron-left"></i>
				    	关注好友</a>
				    </li>
				     <li class="divider"></li>
				    <li>
				    	<a href="/User/article">
				    	<i class="icon-chevron-left"></i>
				    	分享文章</a>
				    </li>
				    <li>
				    	<a href="/User/collection">
				    	<i class="icon-chevron-left"></i>
				    	文章收藏</a>
				    </li>
				     <li>
				    	<a href="/User/chart">
				    	<i class="icon-chevron-left"></i>
				    	文章留言</a>
				    </li>
				     <li class="divider"></li>
				    <li>
				    	<a href="/User/talk">
				    	<i class="icon-chevron-left"></i>
				    	运动说说</a>
				    </li>
				    <li>
				    	<a href="/User/plan">
				    	<i class="icon-chevron-left"></i>
				    	运动计划</a>
				    </li>
    		</ul>
    		
			</div>
		</aside>
	    </div>
	</div>

</div>

</body>
<script type="text/javascript" src="__STATIC__js/echarts-plain.js"></script>
<script type="text/javascript">

option = {
    title : {
        text: '室内运动分布比例',
        subtext: '网站来源',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'left',
        data:['瑜伽','健美操','舞蹈','俯卧撑','仰卧起坐','哑铃','其他']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'访问来源',
            type:'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:335, name:'瑜伽'},
                {value:310, name:'健美操'},
                {value:234, name:'舞蹈'},
                {value:135, name:'俯卧撑'},
                {value:1548, name:'仰卧起坐'},
                {value:1548, name:'哑铃'},
                 {value:1548, name:'其他'},
            ]
        }
    ]
};
                    
               

var myChart = echarts.init(document.getElementById("favor-chart"));
	myChart.setOption(option);


</script>

</html>
