<include file="Public:header" />

<!-- 文章共享 -->
<link rel="stylesheet" href="__PUBLIC__Home/css/common/share.css">
<link rel="stylesheet" href="__PUBLIC__Home/css/common/chart.css">
<div class="container" id="pagewrap">
	<div class="module-show">

			<!-- 流动公告 展示 -->
		
	</div>

	<!-- 文章内容  -->
	<div class="container">
		<div class="row">
	
		<section class="module-left pull-left span9">

			
			<ul class="breadcrumb">
    			<li><a href="http://www.hyd.com">首页</a> <span class="divider">/</span></li>
	    		<li><a href="/List/health">健康指南</a> <span class="divider">/</span></li>
    			<li class="#">文章名称<span class="label "></span></li>
    		</ul>
				
	
				<div class="module-app" id="content">
					<div class="module-app-share">
					     <div class="page-header">
    							<h3>{$info.title}&nbsp;<small>{$info.sub_title}</small></h3>
                  <div class="judge-result">
                    <span class="btn btn-small btn-info vote-btn" data-article-id="{$info.health_article_id}"  data-action="support" data-text="赞同"  data-num="{$info.support_counts}"> 赞同:{$info.support_counts}</span>
                    <span class="btn btn-small vote-btn"  data-article-id="{$info.health_article_id}" data-action="unsupport" data-text="反对" data-num="{$info['vote_counts']-$info['support_counts']}">反对:{$info["vote_counts"]-$info["support_counts"]}</span>
                  </div>
   						 </div>
   						 <div class="article-author">
                  <label>作者:</label><a href="">{$info.uid_name}</a>
                  
               </div>
   						 <div class="article-time"><label>时间:</label>{$info.publish}</div>
						   <div class="article-ref">
							   <div class="article-ref-content">
								   <label class="article-ref-label">导语:</label>
							   	<p>{$info.desc}</p>
							   </div>
							    <div class="article-ref-img"><img src="{$info.sport_ref_image}" alt="" /></div>

						   </div>
						   <div class="clearfix clearfix-double"></div>				
	            
               <div class="article-content">
                  <p>{$info.contents}</p> 
               
               </div>
               <div class="article-footer">
                  <div class="pull-left well well-small">---如果发现文章涉及黄色,暴力
                    <a href="#">点击举报</a></div>
                  
                   
                </div>
					</div>
				</div>

                <!-- 评论 -->
        <div class="module-app-share">
          <div id="chart-room">
          <h4 class="title-new">
            <span>指南评论</span> 

            <small class="message-rows">(10)条</small>
 
          </h4>
      
          <ul class="chart-message-ul">  
            <li>
              <div class="user-face">
                  <img src="http://oimagea4.ydstatic.com/image?id=1317141146510868599&amp;product=cube&amp;w=50">
            </div>
            <div class="user-title">
              <span><a class="user-name">@贝给樟</a></span>
                <span class="date">2013-11-28 19:50:05</span>
                <div class="option-box">
                    <span class="floor">120楼</span>
                    <a class="btn btn-mini"><i class="icon-thumbs-up"></i></a>
                    <span class="agreed-data">100</span>
                </div>
            </div>
            
            <div class="content">  
                <!-- 自身 评论  的 内容 -->
              <div class="comment-text-wrap">
                     <p>终于等来了啊！赞一个！太给力了！以后得多介绍海淘的宝贝啊！</p>
                     <p>终于等来了啊！赞一个！太给力了！以后得多介绍海淘的宝贝啊！</p>
                     终于等来了啊！赞一个！太给力了！以后得多介绍海淘的宝贝啊！

              </div>
            </div>

          </li>
           </ul>
     
      </div>


        </div>
        <!-- 模块评价  只评论文章模块 -->
        <div class="module-app">
           <h4>评论:</h4>
          <form action="/User/uploadcomment" name="uploadComment" id="uploadComment" method="post" class="form-horizontal">
             <fieldset>
                  <input type="hidden" name="articleId" value=""/>
                 
                  <div class="comment">
                     <script id="editor" type="text/plain" style="width:97%;height:200px;"></script>
                  </div>
                  <div class="comment-btn">
                    <button form="uploadComment" type="submit" class="btn btn-primary">提交</button>
                  </div>
                  <div class="comment-btn">
                    <button form="uploadComment" type="reset" id="reset" class="btn btn">清空</button>
                  </div>
            </fieldset>

          </form>     
        </div>

		</section>
	
			<!-- 网站旁白 -->
    		<aside class="module-aside pull-right span3">
    	
    			<!--  其他公告 -->
    			<div class="module-app">
            <ul class="nav nav-tabs no-margin-bottom">
            <li class="active"><a href="#hot" data-toggle="tab">热门指南</a></li>
            <li><a href="#recommend" data-toggle="tab">推荐指南</a></li>

            </ul>
            <div class="tab-content">
                <div class="ref-article tab-pane active" id="hot">     
                           {:W('Guide/guideInfo',array(array("vote_counts"=>"desc")))}
                </div>
                <div class="ref-article tab-pane" id="recommend">     
                        {:W('Guide/guideInfo',array(array("support_counts"=>"desc")))}
                </div>
                 
            </div>

    			</div>  <!-- 文章结束 -->
          <!-- 留言模块 -->
          <div class="module-app">
              <div class="module-app-share">
                <h5 class="text-center">
                <div class="pull-left">
                  <a class="icon  icon-chevron-left" href="#myCarousel" data-slide="prev"></a>
                </div>
                <span >运动分享</span>
                <div class="pull-right">
                  <a class="icon  icon-chevron-right" href="#myCarousel" data-slide="next"></a>
                </div>
               </h5>
                <div class="health-chart-box">
                    <!-- 热门运动分享列表 -->
                    <div id="myCarousel" class="carousel slide">
                    <!-- 运动健康分享组件 -->
                    <div class="carousel-inner">
                     {:W('Article/artcileInfo',array(null,array('publish_time'=>'desc'),3))}          
                    </div>
                  </div>
                </div>
              </div>

          </div>
    		</aside>
	    </div>
	</div>

</div>
  
<include file="Public:footer" />
</body>


<!-- 加载文本编辑器 -->
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__ueditor.config.js"></script>
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__ueditor.all.min.js"></script>
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__lang/zh-cn/zh-cn.js"></script>
<script>
  window.onload=function(){
      require(["ueditor/comment"],function(config){
      
        var ue = UE.getEditor('editor',config);
          
      });

       /*注册 投票按钮事件 */
      $(".vote-btn").on("click",function(){
            //禁止重复点击行为
            $(".vote-btn").attr("disabled",true);
              $btn =  $(this);              
              $.ajax("{:U('Info/uploadVote')}",{
                type : "post",
                data : { "article_id" : $btn.data("article-id") ,"action" : $btn.data("action") ,"type":"guide_article"},
                dataType:"json",               
                beforeSend :function(){

                   $btn.html('请稍后...');
                },
                success : function(data){   //成功后回调函数
                   if( data!=null  && data.status == true){      //投票成功                      
                       $btn.data("num",parseInt($btn.data("num")+1)); 
                  }else{
                       alert(data.msg);               //投票失败
                  }
                },
                error : function (XMLHttpRequest, textStatus, errorThrown) {
                       alert(textStatus);              //投票失败  服务器异常

                },
                complete:function(){
                    $btn.html($btn.data("text")+":"+$btn.data("num"));
                    $(".vote-btn").attr("disabled",false);
                }
              });          
      });

  }

</script>
</html>
