<include file="Public:header" />

<!-- 文章共享 -->
<link rel="stylesheet" href="__PUBLIC__Home/css/common/share.css">
<link rel="stylesheet" href="__PUBLIC__Home/css/common/chart.css">
<div class="container" id="pagewrap">
	<div class="module-show">

			<!-- 流动公告 展示 -->
		
	</div>

	<!-- 文章内容  -->
	<div class="container">
		<div class="row">
	
		<section class="module-left pull-left span9">

			
			<ul class="breadcrumb">
    			<li><a href="http://www.hyd.com">首页</a> <span class="divider">/</span></li>
	    		<li><a href="/List/health">健康指南</a> <span class="divider">/</span></li>
    			<li class="#">文章名称<span class="label "></span></li>
    		</ul>
				
	
				<div class="module-app" id="content">
					<div class="module-app-share">
					     <div class="page-header">
    							<h3>Example page headerExample page header Example page header  <small>Subtext for header</small></h3>
                  <div class="judge-result">
                    <span class="btn btn-small btn-info">赞同:15</span>
                    <span class="btn btn-small">反对:10</span>

                  </div>
   						 </div>
   						 <div class="article-author"><label>作者:</label><a href="">李彦龙</a></div>
   						 <div class="article-time"><label>时间:</label>2014-11-12 15:30:11</div>
						   <div class="article-ref">
							   <div class="article-ref-content">
								   <label class="article-ref-label">导语:</label>
							   	<p>
									创业者都很忙，每天都需要管理企业，你一定没有时间去测试市场上的所有相关应用。我们选出了应用市场上最优秀的一些企业管理应用供你选择。
								 </p>
							   </div>
							    <div class="article-ref-img"><img src="" alt="" /></div>

						   </div>
						   <div class="clearfix clearfix-double"></div>				
	             <div class="article-notice-img"><img src="#" alt=""></div>
               <div class="article-content">
                  <p>日前,在广州市海珠区,有车主因其购买的某品牌汽车有质量问题,为了引起社会关注,他纠结39名同品牌汽车车主,集体驾车游街一个多小时,影响了正常交通秩序。广州警方29日通报称,事件中的7名组织者被警方处以行政拘留处罚,33名参与者被处以警告处罚。</p> 
                  <p>日前,在广州市海珠区,有车主因其购买的某品牌汽车有质量问题,为了引起社会关注,他纠结39名同品牌汽车车主,集体驾车游街一个多小时,影响了正常交通秩序。广州警方29日通报称,事件中的7名组织者被警方处以行政拘留处罚,33名参与者被处以警告处罚。</p> 
               </div>
               <div class="article-footer">
                  <div class="pull-left well well-small">---如果发现文章涉及黄色,暴力
                    <a href="#">点击举报</a></div>
                  <div class="pull-right ">
                     <span class="btn btn-info collection">收藏:15</span>
                  </div>
                   
                </div>
					</div>
				</div>
        <!-- 模块评价  只评论文章模块 -->
        <div class="module-app">
           <h4>评论:</h4>
          <form action="/User/uploadcomment" name="uploadComment" id="uploadComment" method="post" class="form-horizontal">
             <fieldset>
                  <input type="hidden" name="articleId" value=""/>
                 
                  <div class="comment">
                     <script id="editor" type="text/plain" style="width:97%;height:200px;"></script>
                  </div>
                  <div class="comment-btn">
                    <button form="uploadComment" type="submit" class="btn btn-info">提交</button>
                  </div>
                  <div class="comment-btn">
                    <button form="uploadComment" type="reset" id="reset" class="btn btn">清空</button>
                  </div>
            </fieldset>

          </form>     
        </div>

		</section>
	
			<!-- 网站旁白 -->
    		<aside class="module-aside pull-right span3">
    	
    			<!--  其他公告 -->
    			<div class="module-app">
            <ul class="nav nav-tabs no-margin-bottom">
            <li class="active"><a href="#hot" data-toggle="tab">热门指南</a></li>
            <li><a href="#recommend" data-toggle="tab">推荐指南</a></li>

            </ul>
            <div class="tab-content">
                <div class="ref-article tab-pane active" id="hot">     
                        <div class="thumbnail">
                          <img src="#" style="width: 300px; height: 200px;" data-src="holder.js/300x200" alt="300x200">
                          <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p>
                              <a href="#" class="btn btn-primary">阅读</a> <a href="#" class="btn">收藏</a>
                            </p>
                          </div>
                        </div>
                </div>
                <div class="ref-article tab-pane" id="recommend">     
                        <div class="thumbnail">
                          <img src="#" style="width: 300px; height: 200px;" data-src="holder.js/300x200" alt="300x200">
                          <div class="caption">
                            <h3>hot</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p>
                              <a href="#" class="btn btn-primary">阅读</a> <a href="#" class="btn">收藏</a>
                             </p>
                          </div>
                        </div>
                </div>
                 
            </div>

    			</div>  <!-- 文章结束 -->
          <!-- 留言模块 -->
          <div class="module-app">
              <div class="module-app-share">
                <h5 class="text-center">
                <div class="pull-left">
                  <a class="icon  icon-chevron-left" href="#myCarousel" data-slide="prev"></a>
                </div>
                <a href="/List/index">运动分享</a>
                <div class="pull-right">
                  <a class="icon  icon-chevron-right" href="#myCarousel" data-slide="next"></a>
                </div>
               </h5>
                <div class="health-chart-box">
                    <!-- 热门运动分享列表 -->
                    <div id="myCarousel" class="carousel slide">

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                    <div class="active item">
                        <h4>李克强给安徽金寨县希望小学师生回信
                            <small class=""><span>-----</span>ssss</small>
                        </h4>
                        <div class="item-content">
                        
                          <p>一段往事 李克强为金寨希望小学选址 “25年了，总理没有忘记我们，总理和咱山里娃娃心连心”。......</p>
                        </div>
                        <div class="toolbar ">
                          <a class="pull-right">
                            <span class="label-middle">收藏:</span>
                            <i class=" myicon myicon-star-full"></i>
                            <span class="label-middle">60</span>
                          </a>
                        </div>
                    </div>
                    <div class="item">…</div>
                    <div class="item">…</div>
                    </div>

    </div>
                </div>
              </div>

          </div>
    		</aside>
	    </div>
	</div>

</div>

</body>


<!-- 加载文本编辑器 -->
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__ueditor.config.js"></script>
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__ueditor.all.min.js"></script>
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__lang/zh-cn/zh-cn.js"></script>
<script>
  window.onload=function(){
      require(["ueditor/comment"],function(config){
      
        var ue = UE.getEditor('editor',config);
          
      });
      /* 注册 事件 */
   
        $("#reset").bind("click",function(){
            var ue = UE.getEditor('editor');
            ue.setContent(""); //清空 编辑器内容
          
      });
      (function(){
        var replyMsg =["查看回复","收起回复"];
        $("[data-toggle=reply-message]").bind("click",function(){
            if($(this).html()==replyMsg[0]){ $(this).html(replyMsg[1]);}else{
               $(this).html(replyMsg[0]);
            }
            $(this).parentsUntil(".ref-content").next(".reply-message-ul").toggle();
        });        
      })();

  }

</script>
</html>
