<include file="Public:header" />

<link rel="stylesheet" type="text/css" href="__STATIC__css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="__PUBLIC__Home/css/common/talk.css">

<!--  shuoshuo  css -->
<div class="container" id="pagewrap">
	<div class=" module-show">
				<!-- 流动公告 -->
	</div>

	<!-- 文章内容  -->
	<div class="container">
		<section class="module-left pull-left">
			<!-- 网站 说说  -->
			<div id="navbar">
		    	<ul class="breadcrumb">
				 	<li><a href="http://www.hyd.com">首页</a> <span class="divider">/</span></li>
	    		<li><a href="{:U('Plan/index')}">运动说说</a> <span class="divider">/</span></li>
    			<li class="#">发表说说<span class="label "></span></li>
				</ul>
			</div>
      <div class="module-app ">
        <div class="module-app-share">      
      <form class="form-horizontal" name="editor" id="uploadTalk"  data-error="control-group" action="__URL__/uploadTalk" method="post">
         <fieldset>
          <div id="legend" class="">
            <legend>发表运动说说</legend>
          </div>
          <div class="control-group">
            <script id="editor" type="text/plain" style="width:100%;height:200px;"></script>
          </div>

          <div class="control-group">
              <!-- Text input-->
              <label class="control-label" >时间</label>
              <div class="controls">
                <input placeholder="开始时间" class="input" type="text" name="startTime" id="start-time" data-value=""  autocomplete="off" />
                <span>-</span>
                <input placeholder="结束时间" class="input" type="text" name="endTime" id="end-time" data-value=""  autocomplete="off" />
               </div>
          </div>
         <div class="control-group">
              <!-- Text input-->
              <label class="control-label" >所在地址</label>
              <div class="controls">
                <select class="input-small" type="text" name="province" id="province" data-value="">
                </select>
                <span>-</span>
                <select class="input-small" type="text" name="city" id="city" data-value="" ></select>
                <span>-</span>
                <select  class="input-small" type="text" name="country" id="country" data-value="" ></select>
               </div>
            </div>
            <div class="control-group ">
              <label class="control-label" >详细地址</label>
              <div class="controls">
                <input placeholder="" class="input-large" type="text" name="mapAddress" id="mapAddress" data-BMap="text" /> 
                <span class="btn"  id="searchAddress" onclick="searchAddress()">查询</span>
              </div>
          </div>
          <div class="control-group">
            <div id="sitemap"></div>
              <input type="hidden" name="lat" id="lat" /> <!-- 经度 --> 
              <input type="hidden" name="lng" id="lng" />   <!-- 纬度 -->
          </div>
          
        
       
          <div class="control-group">
              
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-primary"  type="submit" form="uploadTalk"  >提交</button>
                 <a class="btn"  onclick="window.history.go(-1);">取消修改</a>
              </div>
          </div>
        
        </fieldset>

      </form>

        </div>
      </div>

		</section>

<!-- 网站旁白 -->
    <aside class="module-aside pull-right">
      
    <div class="module-app share-sidenav" >
      <!--  用户头像 简介 -->
      <div class="module-app-header noborder">
        <div class="header-info">
          <div class="header-row">
            <span class="label label-info">用户名:</span>
            <span>李彦龙</span>
          </div>
          <div class="header-row">
            <span class="label label-info">粉丝:</span>
            <span>0个</span> 
          </div>

          <div class="header-row">
            <span class="label label-info">说说:</span>
            <span>15篇</span>
          </div>          
        </div>
        <div class=" thumbnail header-img">
          <img src="" class="img-circle">
        </div>
      </div>

      
      <!--  好友头像  -->
          
            <div class="module-app">
              <div class="module-app-share ">
                <h5 class="text-center">
                  <span>我关注的好友</span> 
               </h5>
                <div class="friend-list">
                  <ul class="text-center">
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                    <li class="user-item ">
                      <div class="user-avatar">
                        <a href="">
                          <img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                        </a>
                      </div>
                      <div class="user-name user-name-bg">
                        <span>李彦龙</span>
                      </div>
                      <a href="#" class="add-friend">关心</a>
                    </li>
                  </ul>
          
                </div>
                <div class="clearfix"></div>
                <div class="toolbar  text-center">
                    <a href="{:U('User/friends')}" class="btn btn-primary btn-small">查看更多</a>
                </div>

              </div>

            </div>

                 

    </aside>
	</div>

</div>
  <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
  
<include file="Public:footer" />
</body>

<!-- 加载文本编辑器 -->
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__ueditor.config.js"></script>
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__ueditor.all.min.js"></script>
<script type="text/javascript" charset="UTF-8"  src="__UEDITOR__lang/zh-cn/zh-cn.js"></script>
<script>

window.onload=function(){

       // 加载 地址插件
     requirejs(["jsAddress"],function(){
       addressInit('province', 'city', 'country');
     });

      require(["ueditor/comment"],function(config){
      
        var ue = UE.getEditor('editor',config);
          
      });
    // 加载 日期时间插件
     requirejs(["jquery","STATIC_BOOTSTRAP/datetimepicker"],function($){

        requirejs(["STATIC_BOOTSTRAP/locales/datetimepicker.zh-CN"],function(){     //加载中文包
            $('#start-time,#end-time').datetimepicker({ 
               format: 'yyyy-mm-dd hh:ii:ss',
               language: "zh-CN",
               todayBtn:  1,        //当天快捷按钮
               autoclose: 0,      //自动关闭    
               todayHighlight: 1,  // 当天高亮
               startView: 2,    //  in 1 hour :0 , in 1 days :1,in 1 mounth :2   
               forceParse: 1,

                });
            var date = new Date(Date.now());
          $('#start-time,#end-time').datetimepicker("setStartDate",date);

         $('#start-time').datetimepicker().on('changeDate', function(ev){
              var date = new Date(ev.date);
               date.setHours(date.getHours()-8);
               console.log(date);
               $("#end-time").datetimepicker("setStartDate",date);
              
          });


        });
       
    
      });
   //  requirejs(["http://api.map.baidu.com/api?v=2.0&ak=vyCakEhavFN13iGT8i0NDSd3","app/talk/hydMap.js"]);
}
</script>
<!-- 引用 api  -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vyCakEhavFN13iGT8i0NDSd3"></script>
<script type="text/javascript" src="__PUBLIC__Home/js/app/talk/hydMap.js"></script>

</html>