<include file="Public:header" />
<script src="__STATIC__js/bootstrap/transition.js"></script>
<script src="__STATIC__js/bootstrap/button.js"></script>
<link rel="stylesheet" href="__PUBLIC__Home/css/common/talk.css">
<!--  shuoshuo  css -->
<div class="container" id="pagewrap">
	<div class=" module-show">
				<!-- 流动公告 -->
	</div>

	<!-- 文章内容  -->
	<div class="container">
		<section class="module-left pull-left">
			<!-- 网站 导航  -->
			<include file="Public:crumbs"/>
			<!-- 网站 说说  -->
			<div id="navbar">
		    	<form action="{:U('/Plan/index')}" method="get">
		    	<ul class="breadcrumb">
		    	 <li><span>地区</span></li>
		    	 <li><span class="divider">:</span></li>
				 <li>
				 	<select class="input-small" type="text" name="province" id="province"
					 data-value=<empty name="$Think.get.province">"{$userName.province}"<else />"{$Think.get.province}"</empty>
				 	>
		            </select> <span class="divider">-</span></li>
				 <li><select class="input-small" type="text" name="city" id="city" data-value=<empty name="$Think.get.city">"{$userName.city}"<else />"{$Think.get.city}"</empty>
				 	></select><span class="divider">-</span></li>
				 <li ><select  class="input-small" type="text" name="county" id="county" data-value=<empty name="$Think.get.county">"{$userName.county}"<else />"{$Think.get.county}"</empty> ></select></li>
				 <li><span class="divider"></span></li>
				 <li><button  type="submit" class="btn btn-small">查询</button></li>
				 <li class="pull-right">
				 	
				 </li>

				</ul>
				</form>
			</div>
			<!-- 分类 -->			
			<div class="module-app">

			    <div class="navbar">
				    <div class="navbar-inner nopad">
					  
							<ul class="nav">
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown">选择动态<b class="caret"></b></a>		
									<ul class="dropdown-menu">
										<li><a href="#">全部动态</a></li>
										<li><a href="#">好友动态</a></li>
									</ul>
								</li>
							</ul>
							<ul class="nav pull-right">
								<li>
									<div class="publish-talk">
										<a class="btn btn-small btn-primary " href="{:U('Plan/createPlan')}">发表运动计划</a>
									</div>
								</li>
								<li class="divider-vertical"></li>
								<li>
									<a href="#">
										<i class="icon icon-repeat"></i>
									</a>
								</li>		
							</ul>
					 
				    </div>
				</div>

				<!-- 说说列表 -->
				<ul class="talk-list">
				<volist name="list" id="vo">
					<li>
						<div class="talk-wrap-white row-fluid">
							<div class="span4">
								<a class="thumbnail talk-img-box" href="#" >
									<img src="http://api.map.baidu.com/staticimage?center={$vo.lng},{$vo.lat}&width=175&height=140&zoom=18&markers={$vo.lng},{$vo.lat}" alt="" style="width:175px;height:140px">
								</a>
							</div>
							<div class="span8">
								<div class="talk-name">
									<a href="#">{$vo.uid_name}</a>
								</div>
								<div class="talk-info">
									<span>运动时间：</span>								
									<span>{$vo.start_time|strtotime|date='Y-m-d H:m',###}</span>
									<span class="divider">-</span>
									<span>{$vo.end_time|strtotime|date='Y-m-d H:m',###}</span>
								</div>
								<div class="talk-info">
									<span>运动地点：</span>
									<span>{$vo.address}</span>
								</div>
								<div class="talk-info">
									<span>发表时间：</span>
									<span  class="prettydate" data-date-format="Y-m-d h:m:s" > {$vo.publish_time}</span>
								</div>
								
								<div class="talk-contents">
									内容:{$vo.contents}
								</div>
							</div>
						</div>
						
						<div class="talk-wrap">
							<div class="talk-toobar">
								<ul>
									<li>
										<a>评论(1)</a>
										
									</li>
									<li>
										<a>赞(0)</a>
									</li>
									<li><a>加入</a></li>
									
								</ul>
							</div>
						</div>
					</li>
				</volist>
				</ul>
				<div class="p-wrap"></div>
				<div class="text-center">
					<button id="fat-btn" class="btn btn-primary  js-loading-button" type="button" data-loading-text="加载中">点击加载
					</button>
				</div>
			</div>				
		</section>

		<!-- 网站旁白 -->
		<aside class="module-aside pull-right">
{// 运动计划模块旁白  根据用户是否登录切换旁白内容}	
	
		<if  condition="$Think.session.name eq null ">
				<!--  指南 -->
				<div class="module-app">
		            <ul class="nav nav-tabs no-margin-bottom">
		            <li class="active"><a href="#hotguider" data-toggle="tab">热门指南</a></li>
		            <li><a href="#recommend" data-toggle="tab">推荐指南</a></li>
		            </ul>
		            <div class="tab-content">
		                <div class="ref-article tab-pane active" id="hotguider"> 
		                  {:W('Guide/guideInfo',array(array("vote_counts"=>"desc")))}
		                </div>
		                <div class="ref-article tab-pane" id="recommend">     
		                  {:W('Guide/guideInfo',array(array("support_counts"=>"desc")))}
		                </div>		                 
		            </div>

	    		</div> 


				<div class="module-app">
				<ul class="nav nav-tabs ">
					    <li class="active"><a href="#new" data-toggle="tab">最新文章</a></li>
					    <li><a href="#hot" data-toggle="tab">热门文章</a></li>
					    <li><a href="#recommend" data-toggle="tab">推荐文章</a></li>
	    		</ul>
	    		<div class="tab-content module-app-rank">
				<section class="tab-pane   active" id="new">	   
					{:W('Article/articleRank',array(null,array("publish_time"=>"desc")))}
				</section>
				<section class="tab-pane " id="hot">
					{:W('Article/articleRank',array(null,array("vote_counts"=>"desc")))}
				</section>
				<section class="tab-pane" id="recommend">
					{:W('Article/articleRank',array(null,array("support_counts"=>"desc")))}
				</section>
				</div>
				</div>

			<else />
{//  如果用户已经登陆}


	
			<div class="module-app share-sidenav" >
			<!--  用户头像 简介 -->
			<div class="module-app-header noborder">
				<div class="header-info">
					<div class="header-row">
						<span class="label label-info">用户名:</span>
						<span>{$userName.uid_name}</span>
					</div>
					<div class="header-row">
						<span class="label label-info">粉丝:</span>
						<span>{$userName.user_fans}个</span>	
					</div>
		
				</div>
				<div class=" thumbnail header-img">
					<img src="{$userName.head_url}" class="img-circle">
				</div>
			</div>

			
			<!--  好友头像  -->
    			
            <div class="module-app">
              <div class="module-app-share ">
                <h5 class="text-center">
	                <span>我关注的好友</span>	
               </h5>
              	{:W('Common/focusList',array(0,9))}
                <div class="clearfix"></div>
                <div class="toolbar  text-center">
                    <a href="{:U('User/friends')}" class="btn btn-primary btn-small">查看更多</a>
                </div>

              </div>

            </div>

          </div>       
		</if>
	</aside>
	

</div>

</div>
<include file="Public:footer" />
</body>
<script type="text/javascript"> 
window.onload=function(){
	     // 加载 地址插件
     requirejs(["jquery","jsAddress"],function($){
     	
     	 addressInit('province', 'city', 'county',$("#province").data("value"),$("#city").data("value"),$("#county").data("value"));
     });


};
$(function(){
		require(["jquery","STATIC/prettydate","STATIC/prettydate.zh-CN"],function($){
				$(".prettydate").prettydate();
		});	
});	
</script>
</html>