<include file="Public:header" />
<script src="__STATIC__js/bootstrap/transition.js"></script>
<script src="__STATIC__js/bootstrap/button.js"></script>
<link rel="stylesheet" href="__PUBLIC__Home/css/common/talk.css">
<!--  shuoshuo  css -->
<div class="container" id="pagewrap">
	<div class=" module-show">
				<!-- 流动公告 -->
	</div>

	<!-- 文章内容  -->
	<div class="container">
		<section class="module-left pull-left">
			<!-- 网站 说说  -->
			<div id="navbar">
		    	<ul class="breadcrumb">
		    	 <li><span>地区</span></li>
		    	 <li><span class="divider">:</span></li>
				 <li>
				 	<select class="input-small" type="text" name="province" id="province" data-value="{$user.province}">
		            </select> <span class="divider">-</span></li>
				 <li><select class="input-small" type="text" name="city" id="city" data-value="{$user.city}"></select><span class="divider">-</span></li>
				 <li ><select  class="input-small" type="text" name="county" id="county" data-value="{$user.county}" ></select></li>
				 <li><span class="divider"></span></li>
				 <li><button class="btn btn-small">查询</button></li>
				 <li class="pull-right">
				 	
				 </li>

				</ul>
			</div>
			<!-- 分类 -->			
			<div class="module-app">

			    <div class="navbar">
				    <div class="navbar-inner nopad">
					  
							<ul class="nav">
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown">选择动态<b class="caret"></b></a>		
									<ul class="dropdown-menu">
										<li><a href="#">全部动态</a></li>
										<li><a href="#">好友动态</a></li>
									</ul>
								</li>
							</ul>
							<ul class="nav pull-right">
								<li>
									<div class="publish-talk">
										<a class="btn btn-small btn-primary " href="{:U('Plan/createtalk')}">发表运动计划</a>
									</div>
								</li>
								<li class="divider-vertical"></li>
								<li>
									<a href="#">
										<i class="icon icon-repeat"></i>
									</a>
								</li>		
							</ul>
					 
				    </div>
				</div>

				<!-- 说说列表 -->
				<ul class="talk-list">
					<li>

						<div class="talk-wrap-white row-fluid">
							<div class="span4">
								<a class="thumbnail talk-img-box" href="#" >
									<img src="/Public/Home/images/test.jpg" alt="" style="width:175px;height:140px">
								</a>
							</div>
							<div class="span8">
								<div class="talk-name">
									<a href="#">liyanlong</a>
								</div>
								<div class="talk-info">
									<span>10月16日</span>
									<span class="divider">|</span>
									<span>湖北省</span>
									<span class="divider">-</span>
									<span>武汉市</span>
									<span class="divider">-</span>
									<span >洪山区</span>
								</div>
								
								<div class="talk-contents">
									请给自己加油。希望永远是自己给的
								</div>
							</div>
						</div>
						
						<div class="talk-wrap">
							<div class="talk-toobar">
								<ul>
									<li>
										<a>评论(1)</a>
										
									</li>
									<li>
										<a>赞(0)</a>
									</li>
									<li><a>加入</a></li>
									
								</ul>
							</div>
							
						</div>
					
					</li>
				</ul>
				<div class="p-wrap"></div>
				<div class="text-center">
					<button id="fat-btn" class="btn btn-primary  js-loading-button" type="button" data-loading-text="加载中">点击加载
					</button>
				</div>
			</div>				
		</section>

		<!-- 网站旁白 -->
		<aside class="module-aside pull-right">
			
		<div class="module-app share-sidenav" >
			<!--  用户头像 简介 -->
			<div class="module-app-header noborder">
				<div class="header-info">
					<div class="header-row">
						<span class="label label-info">用户名:</span>
						<span>李彦龙</span>
					</div>
					<div class="header-row">
						<span class="label label-info">粉丝:</span>
						<span>0个</span>	
					</div>

					<div class="header-row">
						<span class="label label-info">说说:</span>
						<span>15篇</span>
					</div>					
				</div>
				<div class=" thumbnail header-img">
					<img src="" class="img-circle">
				</div>
			</div>

			
			<!--  好友头像  -->
    			
            <div class="module-app">
              <div class="module-app-share ">
                <h5 class="text-center">
	                <span>我关注的好友</span>	
               </h5>
                <div class="friend-list">
                	<ul class="text-center">
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                		<li class="user-item ">
                			<div class="user-avatar">
                				<a href="">
                					<img src="http://qlogo2.store.qq.com/qzone/295697141/295697141/100?1404284651" alt="">
                				</a>
                			</div>
                			<div class="user-name user-name-bg">
                				<span>李彦龙</span>
                			</div>
                			<a href="#" class="add-friend">关心</a>
                		</li>
                	</ul>
          
                </div>
                <div class="clearfix"></div>
                <div class="toolbar  text-center">
                    <a href="{:U('User/friends')}" class="btn btn-primary btn-small">查看更多</a>
                </div>

              </div>

            </div>

                 

		</aside>
	</div>

</div>
  
<include file="Public:footer" />
</body>

<script>
window.onload=function(){
	     // 加载 地址插件
     requirejs(["jquery","jsAddress"],function($){
     	
     	 addressInit('province', 'city', 'county',$("#province").data("value"),$("#city").data("value"),$("#county").data("value"));
     });
};	
</script>
</html>