<include file="Public:header" />
<!-- list 页面 指定 css -->
<link rel="stylesheet" href="__PUBLIC__Home/css/common/list.css">
<div class="container" id="pagewrap">
	<div class=" module-show">
				<!-- 流动公告 -->
	</div>

	<!-- 文章内容  -->
	<div class="container">
		<section class="module-left pull-left">
			<!-- 网站 导航  -->
			<div id="navbar">
		    	<ul class="breadcrumb">
				 <li><a href="#">首页</a> <span class="divider">/</span></li>
				  <li><a href="#">运动健康指南</a> <span class="divider">/</span></li>
				<li class="active">列表</li>
				</ul>
			</div>
			<!-- 分类 -->			
			<div class="module-app">
				<div class="module-app-categorys">
					<volist name="category" id="vo">
						<div class="module-app-category">
							<div class="category-head"><h4>{$vo.ch_name}</h4></div>
							<div class="category-list" >
							<volist name="vo['child']" id="val">
								<a class="active" >{$val.ch_name}</a>
							</volist>
							</div>
						</div>
					</volist>
					<div class="module-app-category">
						<div class="category-head"><h4>运动分类</h4></div>
						<div class="category-list" >
						   
						   		<a href="?sport_id=0">全部</a>
						   		 <a href="?sports_id=1"  class="label label-info">球类运动</a>
						   		 <a href="?sports_id=2">田径运动</a>
						   		 <a href="?sports_id=3">水上运动</a>  	
						</div>
						<!-- 二级分类  全部情况下不显示 -->
						<div class="category-list" >
						   
						   	 	 <a href="?sport_id=0">篮球</a>
						   		 <a href="sports_id=1">足球</a>
						   		 <a href="sports_id=2">排球</a>

						</div>

					</div>


					<div class="module-app-category">
						<div class="category-head"><h4>筛选条件</h4></div>
						<div class="category-list" >
						    <a  class="active  label label-info" href="#">最新</a>
							<a href="#">最热</a>
						</div>
					</div>
				</div>
			</div>

			<!-- 列表 -->
			<div class="module-app">
			    <div class="row-fluid health-list-row">
	   				<div class="span4">
	   					<div class="thumbnail">
		                  <img src="__STATIC__img/default/sport_128.png"  alt="300x200" />
                          <div class="caption">
                            <h4>Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                            <p>
                              <a href="/Info/health" class="btn btn-primary">阅读</a> 
                            </p>
                          </div>                 
						</div>
	   				</div>
	    			<div class="span4 ">
	    				 <div class="thumbnail">
                          <img src="#" data-src="holder.js/300x200" alt="300x200">
                          <div class="caption">
                            <h4>Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                            <p>
                              <a href="#" class="btn btn-primary">阅读</a>
                            </p>
                          </div>
                        </div>   
	    			</div>
	    			<div class="span4 ">
	    				<div class="thumbnail">
                          <img src="#"  data-src="holder.js/300x200" alt="300x200">
                          <div class="caption">
                            <h4>Thumbnail</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                            <p>
                              <a href="#" class="btn btn-primary">阅读</a>
                            </p>
                          </div>
                        </div>
	    			</div>
    			</div>
				   <div class="row-fluid health-list-row">
	   				<div class="span4">
	   					<div class="thumbnail">
		                  <img src="#"  alt="300x200" />
                          <div class="caption">
                            <h4>Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                            <p>
                              <a href="#" class="btn btn-primary">阅读</a> 
                            </p>
                          </div>                 
						</div>
	   				</div>
	    			<div class="span4 ">
	    				 <div class="thumbnail">
                          <img src="#" data-src="holder.js/300x200" alt="300x200">
                          <div class="caption">
                            <h4>Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                            <p>
                              <a href="#" class="btn btn-primary">阅读</a>
                            </p>
                          </div>
                        </div>   
	    			</div>
	    			<div class="span4 ">
	    				<div class="thumbnail">
                          <img src="#"  data-src="holder.js/300x200" alt="300x200">
                          <div class="caption">
                            <h4>Thumbnail</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                            <p>
                              <a href="#" class="btn btn-primary">阅读</a>
                            </p>
                          </div>
                        </div>
	    			</div>
    			</div>
				
				
				<div class="pagination">
				    <ul class="pull-right">
				    	{$page}
				    </ul>
   				 </div>
			</div>
		</section>

		<!-- 网站旁白 -->
		<aside class="module-aside pull-right">
			<div class="module-app">
			<ul class="nav nav-tabs ">
				    <li class="active"><a href="#new" data-toggle="tab">最新文章</a></li>
				    <li><a href="#hot" data-toggle="tab">热门文章</a></li>
				    <li><a href="#recommend" data-toggle="tab">推荐文章</a></li>
    		</ul>
    		<div class="tab-content module-app-rank">
			<section class="tab-pane   active" id="new"><ul>
				<li>
					<span class="rank rank-top">1</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				<li>
					<span class="rank rank-middle">2</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
				</li>
				<li>
					<span class="rank rank-third">3</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
					
				</li>
				<li>
					<span class="rank">4</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>	
				</li>
				<li>
					<span class="rank ">5</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				<li>
					<span class="rank ">6</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				
				<li>
					<span class="rank ">7</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				
				<li>
					<span class="rank ">8</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				
			</ul>
			</section>
			<section class="tab-pane " id="hot">
				<ul>
				<li>
					<span class="rank rank-top">1</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				<li>
					<span class="rank rank-middle">2</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
				</li>
				<li>
					<span class="rank rank-third">3</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
					
				</li>
				<li>
					<span class="rank ">4</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>	
				</li>
			 </ul>

			</section>
			<section class="tab-pane" id="recommend">
				<ul>
				<li>
					<span class="rank rank-top">1</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				<li>
					<span class="rank rank-middle">2</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
				</li>
				<li>
					<span class="rank rank-third">3</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
					
				</li>
				<li>
					<span class="rank ">4</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>	
				</li>
			</ul>
			</section>
			</div>
			</div>

			<!-- 热门 指南 -->
			<!--  其他公告 -->
    			<div class="module-app">
            <ul class="nav nav-tabs no-margin-bottom">
            <li class="active"><a href="#hot-guider" data-toggle="tab">热门指南</a></li>
            <li><a href="#recommend-guider" data-toggle="tab">推荐指南</a></li>

            </ul>
            <div class="tab-content">
                <div class="ref-article tab-pane active" id="hot-guider">     
                        <div class="thumbnail">
                          <img src="__STATIC__img/default/basketball.png"  data-src="holder.js/300x200" alt="300x200">
                          <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p>
                              <a href="#" class="btn btn-primary">阅读</a> <a href="#" class="btn">收藏</a>
                            </p>
                          </div>
                        </div>
                </div>
                <div class="ref-article tab-pane" id="recommend-guider">     
                        <div class="thumbnail">
                          <img src="__STATIC__img/default/football.png"   alt="300x200">
                          <div class="caption">
                            <h3>hot</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p>
                              <a href="#" class="btn btn-primary">阅读</a> <a href="#" class="btn">收藏</a>
                             </p>
                          </div>
                        </div>
                </div>
                 
            </div>

    			</div>  <!-- 文章结束 -->
		</aside>
	</div>

</div>
  
<include file="Public:footer" />
</body>

</html>