<include file="Public:header" />
<!-- list 页面 指定 css -->
<link rel="stylesheet" href="__PUBLIC__Home/css/common/list.css">
<div class="container" id="pagewrap">
	<div class=" module-show">
				<!-- 流动公告 -->
	</div>

	<!-- 文章内容  -->
	<div class="container">
		<section class="module-left pull-left">
			<!-- 网站 导航  -->
			<div id="navbar">
		    	<ul class="breadcrumb">
				 <li><a href="#">首页</a> <span class="divider">/</span></li>
				  <li><a href="#">运动健康分享</a> <span class="divider">/</span></li>
				<li class="active">文章</li>
				</ul>
			</div>
			<!-- 分类 -->			
			<div class="module-app">
				<div class="module-app-categorys">
					<volist name="category" id="vo">
						<div class="module-app-category">
							<div class="category-head"><h4>{$vo.ch_name}</h4></div>
							<div class="category-list" >
							<a class="active label label-info">全部</a>
							<volist name="vo['child']" id="val">
								<a class="active" >{$val.ch_name}</a>
							</volist>
							</div>
						</div>
					</volist>
					<div class="module-app-category">
						<div class="category-head"><h4>筛选条件</h4></div>
						<div class="category-list" >
							<a  class="active label label-info" href="#">最新</a>
							<a href="#">最热</a>
						</div>
					</div>
				</div>
			</div>

			<!-- 列表 -->
			<div class="module-app">
			<ul class="media-list module-app-list">
			<volist name="list" id="vo">
				<li class="media item"> 
					<a class="pull-left thumbnail" href="#">
					<img  class="media-object item-img img-rounded" alt="128x128" data-src="" src="{$vo.ref_image}">
					</a>
					<div class="media-body">
						<h4 class="media-heading page-header">
							<a href="{:U('Info/index')}?id={$vo.article_id}">
							{$vo.title}</a>
						</h4>
						<div class="item-nav">
							<a href="#">
								<span class="label label-info">{$vo.uid_name}	
								</span>
							</a>
							<span class="label-time">
								{$vo.publish_time}
							</span>
							<div class="pull-right">
								<span class="label ">已阅读:200</span>		
								<span class="label-middle"><i class=" icon icon-thumbs-up"></i>
										<span>8</span>
								</span>
							</div>
						</div>
							<div class="media">
								{$vo.contents|cutStr=###,100}
							</div>
					</div>
				</li>
			</volist>
			</ul>
				<div class="pagination">
				    <ul class="pull-right">
				    	{$page}
				    </ul>
   				 </div>
   				 <div class="p-wrap"></div>
			</div>
		</section>

		<!-- 网站旁白 -->
		<aside class="module-aside pull-right">
			<div class="module-app">
			<ul class="nav nav-tabs ">
				    <li class="active"><a href="#new" data-toggle="tab">最新文章</a></li>
				    <li><a href="#hot" data-toggle="tab">热门文章</a></li>
				    <li><a href="#recommend" data-toggle="tab">推荐文章</a></li>
    		</ul>
    		<div class="tab-content module-app-rank">
			<section class="tab-pane   active" id="new"><ul>
				<li>
					<span class="rank rank-top">1</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				<li>
					<span class="rank rank-middle">2</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
				</li>
				<li>
					<span class="rank rank-third">3</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
					
				</li>
				<li>
					<span class="rank">4</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>	
				</li>
				<li>
					<span class="rank ">5</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				<li>
					<span class="rank ">6</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				
				<li>
					<span class="rank ">7</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				
				<li>
					<span class="rank ">8</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				
			</ul>
			</section>
			<section class="tab-pane " id="hot">
				<ul>
				<li>
					<span class="rank rank-top">1</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				<li>
					<span class="rank rank-middle">2</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
				</li>
				<li>
					<span class="rank rank-third">3</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
					
				</li>
				<li>
					<span class="rank ">4</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>	
				</li>
			 </ul>

			</section>
			<section class="tab-pane" id="recommend">
				<ul>
				<li>
					<span class="rank rank-top">1</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a></li>
				<li>
					<span class="rank rank-middle">2</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
				</li>
				<li>
					<span class="rank rank-third">3</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>
					
				</li>
				<li>
					<span class="rank ">4</span>
					<a href="#">“凹凸共享租车”A轮融资近千万美... </a>	
				</li>
			</ul>
			</section>
			</div>
			</div>
		</aside>
	</div>

</div>
  
<include file="Public:footer" />
</body>
<script type="text/javascript">


	$(function(){

		$(".tabs a").click(function(e){
				 e.preventDefault();		 
				 $(".tab-pane").removeClass("show")
				 .filter($(this).attr("href")).addClass("show");
		});
		//
		$(".category-list a").bind("click",function(e){
			 e.preventDefault();
			 	if(!$(this).hasClass("label")){
						$(this).addClass("label label-info");
				 }
				 $(this).siblings().removeClass("label label-info");
		});
	});

</script>
</html>