<include file="Public:header" />
<!-- list 页面 指定 css -->
<link rel="stylesheet" href="__PUBLIC__Home/css/common/list.css">
<div class="container" id="pagewrap">
	<div class=" module-show">
				<!-- 流动公告 -->
	</div>

	<!-- 文章内容  -->
	<div class="container">
		<section class="module-left pull-left">
			<!-- 网站 导航  -->
			<include file="Public:crumbs"/>
			<!-- 分类 -->			
			<div class="module-app">
				<div class="module-app-categorys">
					<volist name="category" id="vo">
						<div class="module-app-category">
							<div class="category-head"><h4>{$vo.ch_name}</h4></div>
							<div class="category-list">
							<a class="active <if condition="($categoryId eq $vo['category_id']) OR (empty($categoryId))">label label-info</if>"  href="{:U('List/index',array('cid'=>$vo['category_id']))}">全部</a>
							<volist name="vo['child']" id="val">
								<a class="active <if condition="$categoryId eq $val['category_id'] ">label label-info</if>" href="{:U('List/index',array('cid'=>$val['category_id']))}">
									{$val.ch_name}
								</a>
							</volist>
							</div>
						</div>
					</volist>
					<!--
					<div class="module-app-category">
						<div class="category-head"><h4>筛选条件</h4></div>
						<div class="category-list" >
							<a  class="active label label-info" href="#">最新</a>
							<a href="#">最热</a>
						</div>
					</div>
				-->
				</div>
			</div>

			<!-- 列表 -->
			<div class="module-app">
			<ul class="media-list module-app-list">
			<volist name="list" id="vo">
				<li class="media item"> 
					<a class="pull-left thumbnail" href="#">
					<img  class="media-object item-img img-rounded" alt="128x128" data-src="" src="{$vo.ref_image}">
					</a>
					<div class="media-body">
						<h4 class="media-heading page-header">
							<a href="{:U('Info/index')}?tid={$vo.article_id}">
							{$vo.title}</a>
						</h4>
						<div class="item-nav">
							<a href="#">
								<span class="label label-info">{$vo.uid_name}	
								</span>
							</a>
							<span class="label-time">
								{$vo.publish_time}
							</span>
							<div class="pull-right">
								<!--<span class="label ">已阅读:{$vo.article_counts}</span> -->		
								<span class="label-middle"><i class=" icon icon-thumbs-up"></i>
										<span>{$vo.support_counts}</span>
								</span>
								<span class="label-middle"><i class=" icon icon-thumbs-down"></i>
										<span>{$vo['vote_counts']-$vo['support_counts']}</span>
								</span>
							</div>
						</div>
							<div class="media">
								
								{$vo.ref_contents}
							</div>
					</div>
				</li>
			</volist>
			</ul>
				<div class="pagination">
				    <ul class="pull-right">
				    	{$page}
				    </ul>
   				 </div>
   				 <div class="p-wrap"></div>
			</div>
		</section>

		<!-- 网站旁白 -->
		<aside class="module-aside pull-right">
			<!--  指南 -->
			<div class="module-app">

	            <ul class="nav nav-tabs no-margin-bottom">
	            <li class="active"><a href="#hotguider" data-toggle="tab">热门指南</a></li>
	            <li><a href="#recommend" data-toggle="tab">推荐指南</a></li>
	            </ul>
	            <div class="tab-content">
	                <div class="ref-article tab-pane active" id="hotguider"> 
	                  {:W('Guide/guideInfo',array(array("vote_counts"=>"desc")))}
	                </div>
	                <div class="ref-article tab-pane" id="recommend">     
	                  {:W('Guide/guideInfo',array(array("support_counts"=>"desc")))}
	                </div>
	                 
	            </div>

    		</div> 


			<div class="module-app">
			<ul class="nav nav-tabs ">
				    <li class="active"><a href="#new" data-toggle="tab">最新文章</a></li>
				    <li><a href="#hot" data-toggle="tab">热门文章</a></li>
				    <li><a href="#recommend" data-toggle="tab">推荐文章</a></li>
    		</ul>
    		<div class="tab-content module-app-rank">
			<section class="tab-pane   active" id="new">	   
				{:W('Article/articleRank',array(null,array("publish_time"=>"desc")))}
			</section>
			<section class="tab-pane " id="hot">
				{:W('Article/articleRank',array(null,array("vote_counts"=>"desc")))}
			</section>
			<section class="tab-pane" id="recommend">
				{:W('Article/articleRank',array(null,array("support_counts"=>"desc")))}
			</section>
			</div>
			</div>
		</aside>
	</div>

</div>

<include file="Public:footer" />
</body>

</html>